{% extends 'base.html' %}

{% load markdown_deux_tags %}

{% block body-class %}template-default{% endblock%}

{% block title %}Frequently Asked Questions{% endblock %}

{% block article %}
<div class="text-page">
    <h1 id="top">Frequently Asked Questions</h1>

    <ul>
      {% for faq in general_faqs %}
      <li><a href="#{{ faq.slug }}">{{ faq.question }}</a></li>
      {% endfor %}
    </ul>

    <h2 id="customers">Frequently Asked Questions <small>{{ customer_category_name }}</small></h2>

    <ul>
      {% for faq in customer_faqs %}
      <li><a href="#{{ faq.slug }}">{{ faq.question }}</a></li>
      {% endfor %}
    </ul>

    <h2 id="depositors">Frequently Asked Questions <small>{{ depositor_category_name }}</small></h2>

    <ul>
      {% for faq in depositor_faqs %}
      <li><a href="#{{ faq.slug }}">{{ faq.question }}</a></li>
      {% endfor %}
    </ul>

    <hr>

    {% for faq in general_faqs %}
    <h2 id="{{ faq.slug }}">{{ faq.question }}</h2>
    {{ faq.answer|markdown|safe }}
    <p class="small"><a href="#top" class="light-gray"><i class="glyphicon glyphicon-arrow-up"></i> back to top</a></p>
    <hr>
    {% endfor %}

    {% for faq in customer_faqs %}
    <h2 id="{{ faq.slug }}">{{ faq.question }}</h2>
    {{ faq.answer|markdown|safe }}
    <p class="small"><a href="#top" class="light-gray"><i class="glyphicon glyphicon-arrow-up"></i> back to top</a></p>
    <hr>
    {% endfor %}

    {% for faq in depositor_faqs %}
    <h2 id="{{ faq.slug }}">{{ faq.question }}</h2>
    {{ faq.answer|markdown|safe }}
    <p class="small"><a href="#top" class="light-gray"><i class="glyphicon glyphicon-arrow-up"></i> back to top</a></p>
    <hr>
    {% endfor %}

</div>
{% endblock %}
