Django>=1.11.23,<1.12
uwsgi==2.0.17
psycopg2==2.8.3
django-cleanup==0.3.0
django-tastypie==0.13.3
defusedxml==0.4.1
elasticsearch==1.4.0
django-extensions==1.5.5
django-docopt-command==0.3.0
requests==2.20.0
urllib3==1.24.2
certifi==2018.04.16
easydict==1.6
django-dirtyfields==0.7
sorl-thumbnail==12.3
Pillow==6.2.0
django-debug-toolbar==1.11.1
django-markdown-deux==1.0.5
sqlparse==0.1.19
