Django>=1.8,<1.9
psycopg2==2.5.4
django-cleanup==0.3.0
django-tastypie==0.13.3
defusedxml==0.4.1
elasticsearch==1.4.0
django-extensions==1.5.5
django-docopt-command==0.2.1
requests==2.7.0
easydict==1.6
django-dirtyfields==0.7
sorl-thumbnail==12.3
Pillow==3.0.0
django-debug-toolbar==1.5
django-markdown-deux==1.0.5
