{% if variant.target_gene %}
<span class="light-gray small">Gene (target):</span> {{ variant.target_gene.name }}
{% endif %}

{% if variant.chromosome_location %}
<br/><span class="light-gray small">Chromosome location:</span> {{ variant.chromosome_location }}
{% endif %}

{% if variant.transgene %}
<br/><span class="light-gray small">Transgene:</span> {{ variant.transgene.name }}
{% endif %}

{% if variant.chromosome_location_transgene %}
<br/><span class="light-gray small">Chromosome location (transgene):</span> {{ variant.chromosome_location_transgene }}
{% endif %}

{% if variant.delivery_method %}
<br/><span class="light-gray small">Delivery method:</span> {{ variant.delivery_method }}

{% if variant.virus %}
- {{ variant.virus }}
{% endif %}

{% if variant.transposon %}
- {{ variant.transposon }}
{% endif %}

{% endif %}

{% if variant.notes %}
<p>{{ variant.notes }}</p>
{% endif %}
