html {
  box-sizing: border-box; }

*, *:before, *:after {
  box-sizing: inherit; }

body {
  margin: 0; }

img, picture {
  margin: 0;
  max-width: 100%; }

button, input[type="button"], input[type="reset"], input[type="submit"], button {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
  -webkit-font-smoothing: antialiased;
  background-color: #009fee;
  border-radius: 3px;
  border: solid 1px #009fee;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
  font-size: 1em;
  font-weight: 600;
  line-height: 1;
  padding: 0.75em 1em;
  text-decoration: none;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap; }
  button:hover, button:focus, input[type="button"]:hover, input[type="button"]:focus, input[type="reset"]:hover, input[type="reset"]:focus, input[type="submit"]:hover, input[type="submit"]:focus, button:hover, button:focus {
    background-color: #006ca2;
    border-color: #006ca2;
    color: #fff; }
  button:disabled, input[type="button"]:disabled, input[type="reset"]:disabled, input[type="submit"]:disabled, button:disabled {
    cursor: not-allowed;
    opacity: 0.5; }

fieldset {
  background-color: #f7f7f7;
  border: 1px solid #dddddd;
  margin: 0 0 0.75em;
  padding: 1.5em; }

input, label, select {
  display: block;
  font-family: "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
  font-size: 1em; }

label {
  font-weight: 600;
  margin-bottom: 0.375em; }
  label.required::after {
    content: "*"; }
  label abbr {
    display: none; }

input[type="color"], input[type="date"], input[type="datetime"], input[type="datetime-local"], input[type="email"], input[type="month"], input[type="number"], input[type="password"], input[type="search"], input[type="tel"], input[type="text"], input[type="time"], input[type="url"], input[type="week"], textarea, select[multiple=multiple], textarea {
  background-color: #fff;
  border: 1px solid #dddddd;
  border-radius: 3px;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.06);
  box-sizing: border-box;
  font-family: "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
  font-size: 1em;
  line-height: 1.5;
  margin-bottom: 0.75em;
  padding: 0.5em;
  transition: border-color;
  width: 100%; }
  input[type="color"]:hover, input[type="date"]:hover, input[type="datetime"]:hover, input[type="datetime-local"]:hover, input[type="email"]:hover, input[type="month"]:hover, input[type="number"]:hover, input[type="password"]:hover, input[type="search"]:hover, input[type="tel"]:hover, input[type="text"]:hover, input[type="time"]:hover, input[type="url"]:hover, input[type="week"]:hover, textarea:hover, select[multiple=multiple]:hover, textarea:hover {
    border-color: #c4c4c4; }
  input[type="color"]:focus, input[type="date"]:focus, input[type="datetime"]:focus, input[type="datetime-local"]:focus, input[type="email"]:focus, input[type="month"]:focus, input[type="number"]:focus, input[type="password"]:focus, input[type="search"]:focus, input[type="tel"]:focus, input[type="text"]:focus, input[type="time"]:focus, input[type="url"]:focus, input[type="week"]:focus, textarea:focus, select[multiple=multiple]:focus, textarea:focus {
    border-color: #004e93;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.06), 0 0 5px rgba(0, 64, 121, 0.7);
    outline: none; }

textarea {
  resize: vertical; }

input[type="search"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none; }

input[type="checkbox"], input[type="radio"] {
  display: inline;
  margin-right: 0.375em; }

input[type="file"] {
  padding-bottom: 0.75em;
  width: 100%; }

select {
  max-width: 100%;
  width: auto; }

table {
  border-collapse: collapse; }
  table td.number {
    text-align: right; }

h1, h2, h3, h4, h5, h6 {
  font-family: "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
  font-size: 1em;
  font-weight: normal;
  line-height: 1.2;
  margin: 0 0 0.75em;
  color: #af1f21; }
  h1 small, h2 small, h3 small, h4 small, h5 small, h6 small {
    color: #797979;
    font-size: 60%; }

h1 {
  font-size: 2.4em; }

h2 {
  font-size: 1.8em; }

p {
  margin: 0 0 0.75em; }

a {
  color: #004e93;
  text-decoration: none;
  transition: color 0.1s linear; }
  a:active, a:focus, a:hover {
    color: #002546; }
  a:active, a:focus {
    outline: none; }

hr {
  border-bottom: 1px solid #dddddd;
  border-left: none;
  border-right: none;
  border-top: none;
  margin: 1.5em 0; }

.dropdown {
  position: relative;
  padding: 3px 5px;
  font-size: 0.9em; }
  .dropdown ul {
    padding: 0;
    margin: 0; }
  .dropdown li {
    list-style: none; }
  .dropdown .dropdown-container {
    display: inline-block;
    position: relative; }
  .dropdown .dropdown-button {
    background: #fff;
    border-bottom-right-radius: 3px;
    border-top-right-radius: 3px;
    border: 1px solid #dddddd;
    cursor: pointer;
    font-size: 1em;
    line-height: 30px;
    margin: 0;
    padding: 0 2.5em 0 0.5em;
    position: relative;
    min-width: 200px; }
  .dropdown .dropdown-button:hover {
    background-color: #f7f7f7; }
  .dropdown .dropdown-button:after {
    color: #333333;
    content: "\25BE";
    display: block;
    position: absolute;
    right: 1em;
    top: 0; }
  .dropdown .dropdown-menu {
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    background: #fff;
    border-radius: 3px;
    border: 1px solid #dddddd;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.1);
    color: #333333;
    cursor: pointer;
    display: none;
    overflow: show;
    position: absolute;
    left: 0;
    top: 40px;
    width: 400px;
    z-index: 99999; }
    .dropdown .dropdown-menu:before {
      position: absolute;
      top: 0;
      right: 1em;
      bottom: 0;
      left: 0;
      color: #fff;
      content: "\25b2";
      font-size: 1.4em;
      pointer-events: none;
      text-shadow: 0 -2px 2px rgba(0, 0, 0, 0.3);
      top: -0.7em; }
  .dropdown .dropdown-menu li {
    color: #333333;
    padding: 0.5em; }
  .dropdown .show-menu {
    display: block; }
  .dropdown.two-col ul {
    -webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2;
    -webkit-column-gap: 40px;
    -moz-column-gap: 40px;
    column-gap: 40px; }

.collapsible-menu button {
  outline: none; }
.collapsible-menu .collapsible-menu-toggle {
  display: none; }
  @media  (max-width: 767px) {
    .collapsible-menu .collapsible-menu-toggle {
      display: block; } }
.collapsible-menu .collapsible-menu-items li {
  display: inline-block; }
@media  (max-width: 767px) {
  .collapsible-menu .collapsible-menu-items {
    display: none;
    margin-left: 0;
    padding-left: 0; }
    .collapsible-menu .collapsible-menu-items li {
      display: block; } }

.card {
  background-color: white;
  border: 1px solid #dddddd;
  padding: 18px; }
  .card .title {
    font-weight: bold;
    font-size: 1.2em;
    margin-bottom: 10px; }

.search {
  width: 100%; }
  .search::after {
    clear: both;
    content: "";
    display: table; }
  .search input {
    float: left;
    margin: 0; }
  .search input[type="text"] {
    max-width: 60%;
    margin-right: 8px; }

.filter-group .filter {
  display: inline-block;
  width: 200px; }

table.dashboard {
  width: 100%;
  font-size: 0.8em; }
  table.dashboard tr:nth-child(even) {
    background-color: #eaeaea; }
  table.dashboard tr:hover {
    background-color: #dff0ff; }
  table.dashboard tr .status {
    white-space: nowrap; }
  table.dashboard tr.status-pending .status select {
    background-color: white;
    border: 1px solid #dddddd; }
  table.dashboard tr.status-accepted .status span {
    background-color: #bdd332;
    padding: 2px 22px 2px 10px; }
  table.dashboard tr.status-rejected .status select {
    background-color: #e32719;
    color: white;
    background-color: white;
    color: #e32719;
    border-color: #f5a6a0;
    border: 1px solid #dddddd; }
  table.dashboard td, table.dashboard th {
    border: solid 1px #dddddd;
    padding: 10px;
    vertical-align: top; }
  table.dashboard th {
    background-color: #848484;
    color: white;
    text-align: left; }
    table.dashboard th a {
      color: white; }
  table.dashboard select {
    display: inline-block; }

table.data {
  width: 100%; }
  table.data th {
    text-align: left;
    padding-bottom: 20px; }
    table.data th h2 {
      margin-bottom: 0px;
      padding-bottom: 5px;
      padding-top: 20px;
      border-bottom: 1px solid #dddddd; }
  table.data td {
    padding: 3px 10px 3px 0px; }
    table.data td.label {
      width: 1%;
      white-space: nowrap;
      text-align: right;
      color: #797979; }

.search-filters {
  margin: 40px 0 50px 0; }
  .search-filters .search-form {
    margin-bottom: 20px; }

body {
  background-color: #d6e6e9;
  background-image: url('/static/images/background.jpg');
  background-size: cover;
  padding: 10px;
  -webkit-font-feature-settings: "kern", "liga", "pnum";
  -moz-font-feature-settings: "kern", "liga", "pnum";
  -ms-font-feature-settings: "kern", "liga", "pnum";
  font-feature-settings: "kern", "liga", "pnum";
  -webkit-font-smoothing: antialiased;
  color: #333333;
  font-family: "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
  font-size: 1em;
  line-height: 1.5; }

article {
  max-width: 1170px;
  margin-left: auto;
  margin-right: auto;
  background-color: rgba(255, 255, 255, 0.7);
  padding: 10px 20px;
  margin-top: 10px;
  padding-top: 30px;
  padding-bottom: 40px; }
  article:after {
    content: " ";
    display: block;
    clear: both; }
  article .organism-label {
    min-height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 3rem;
    background-color: #f5f5f5; }

header {
  max-width: 1170px;
  margin-left: auto;
  margin-right: auto;
  background-color: rgba(255, 255, 255, 0.7);
  padding: 10px 20px; }
  header:after {
    content: " ";
    display: block;
    clear: both; }
  header .organism-label {
    min-height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 3rem;
    background-color: #f5f5f5; }
  header .collapsible-menu {
    margin-top: 14px;
    float: right; }
    header .collapsible-menu .collapsible-menu-items li a {
      padding: 3px 0px 3px 40px; }

footer {
  max-width: 1170px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
  padding: 10px 20px;
  font-size: 0.8em; }
  footer:after {
    content: " ";
    display: block;
    clear: both; }

body.template-default article {
  max-width: 1170px;
  margin-left: auto;
  margin-right: auto; }
  body.template-default article:after {
    content: " ";
    display: block;
    clear: both; }

body.template-grid article h1 {
  max-width: 1170px;
  margin-left: auto;
  margin-right: auto; }
  body.template-grid article h1:after {
    content: " ";
    display: block;
    clear: both; }
body.template-grid article .grid-row {
  max-width: 1170px;
  margin-left: auto;
  margin-right: auto; }
  body.template-grid article .grid-row:after {
    content: " ";
    display: block;
    clear: both; }
body.template-grid article .grid-col-1 {
  width: 6.77966%;
  float: left;
  margin-right: 1.69492%; }
body.template-grid article .grid-col-1:last-child {
  width: 6.77966%;
  float: left;
  margin-right: 0; }
body.template-grid article .grid-offset-1 {
  margin-left: 8.47458%; }
body.template-grid article .grid-col-2 {
  width: 15.25424%;
  float: left;
  margin-right: 1.69492%; }
body.template-grid article .grid-col-2:last-child {
  width: 15.25424%;
  float: left;
  margin-right: 0; }
body.template-grid article .grid-offset-2 {
  margin-left: 16.94915%; }
body.template-grid article .grid-col-3 {
  width: 23.72881%;
  float: left;
  margin-right: 1.69492%; }
body.template-grid article .grid-col-3:last-child {
  width: 23.72881%;
  float: left;
  margin-right: 0; }
body.template-grid article .grid-offset-3 {
  margin-left: 25.42373%; }
body.template-grid article .grid-col-4 {
  width: 32.20339%;
  float: left;
  margin-right: 1.69492%; }
body.template-grid article .grid-col-4:last-child {
  width: 32.20339%;
  float: left;
  margin-right: 0; }
body.template-grid article .grid-offset-4 {
  margin-left: 33.89831%; }
body.template-grid article .grid-col-5 {
  width: 40.67797%;
  float: left;
  margin-right: 1.69492%; }
body.template-grid article .grid-col-5:last-child {
  width: 40.67797%;
  float: left;
  margin-right: 0; }
body.template-grid article .grid-offset-5 {
  margin-left: 42.37288%; }
body.template-grid article .grid-col-6 {
  width: 49.15254%;
  float: left;
  margin-right: 1.69492%; }
body.template-grid article .grid-col-6:last-child {
  width: 49.15254%;
  float: left;
  margin-right: 0; }
body.template-grid article .grid-offset-6 {
  margin-left: 50.84746%; }
body.template-grid article .grid-col-7 {
  width: 57.62712%;
  float: left;
  margin-right: 1.69492%; }
body.template-grid article .grid-col-7:last-child {
  width: 57.62712%;
  float: left;
  margin-right: 0; }
body.template-grid article .grid-offset-7 {
  margin-left: 59.32203%; }
body.template-grid article .grid-col-8 {
  width: 66.10169%;
  float: left;
  margin-right: 1.69492%; }
body.template-grid article .grid-col-8:last-child {
  width: 66.10169%;
  float: left;
  margin-right: 0; }
body.template-grid article .grid-offset-8 {
  margin-left: 67.79661%; }
body.template-grid article .grid-col-9 {
  width: 74.57627%;
  float: left;
  margin-right: 1.69492%; }
body.template-grid article .grid-col-9:last-child {
  width: 74.57627%;
  float: left;
  margin-right: 0; }
body.template-grid article .grid-offset-9 {
  margin-left: 76.27119%; }
body.template-grid article .grid-col-10 {
  width: 83.05085%;
  float: left;
  margin-right: 1.69492%; }
body.template-grid article .grid-col-10:last-child {
  width: 83.05085%;
  float: left;
  margin-right: 0; }
body.template-grid article .grid-offset-10 {
  margin-left: 84.74576%; }
body.template-grid article .grid-col-11 {
  width: 91.52542%;
  float: left;
  margin-right: 1.69492%; }
body.template-grid article .grid-col-11:last-child {
  width: 91.52542%;
  float: left;
  margin-right: 0; }
body.template-grid article .grid-offset-11 {
  margin-left: 93.22034%; }
body.template-grid article .grid-col-12 {
  width: 100%;
  float: left;
  margin-left: 0;
  margin-right: 0; }
body.template-grid article .grid-col-12:last-child {
  width: 100%;
  float: left;
  margin-right: 0; }
body.template-grid article .grid-offset-12 {
  margin-left: 101.69492%; }


/*# sourceMappingURL=maps/main.css.map */