.cell-line-filter {

  .search {
    @include clearfix;
    width: 100%;

    input {
      float: left;
      margin: 0;
    }

    input[type="text"] {
      max-width: 60%;
      margin-right: 8px;
    }
  }

  #filter {
    margin-bottom: 30px;
    width: span(12);

    @include clearfix();

    .filter-group {
      display: inline-block;
    }

    .clear-all-filters {
      display: inline-block;
      margin-left: 10px;
      color: $dark-gray;
      font-size: $font-size-small * 1.1;
      cursor: pointer;

      @include breakpoint(map-get($breakpoints, medium)) {
        display: block;
        margin-left: 0;
        margin-top: 20px;
        margin-bottom: 20px;
      }
    }
  }

  #search {
    width: span(8);
    float: left;

    @include breakpoint(map-get($breakpoints, small)) {
      width: span(12);
      margin-bottom: 20px;
    }
  }

  #total-count {
    position: absolute;
    right: 1.5rem;
    top: 3rem;

    .count {
      font-size: 240%;
      line-height: $font-size-large;
      color: $color-blue-light;
    }

    .unit {
      margin-left: 0.4em;
      font-size: $font-size-large;
      color: $dark-gray;
    }

    @include breakpoint(map-get($breakpoints, small)) {
      position: relative;
      width: span(12);
      float: none;
      text-align: left;
      margin: 0 0 0.5em 0;
      top: auto;
      right: auto;
    }
  }
}

.cell-line-list {
  clear: both;
  overflow-x: auto;

  @include breakpoint(map-get($breakpoints, small)) {
    overflow-y: hidden;
  }
}

.load-more {
  display: none;
  text-align: center;
  margin: 40px 0px;

  button {
    @extend %inverse-button;
    margin: 0 auto;
    width: span(3);

    @include breakpoint(map-get($breakpoints, medium)) {
      width: span(4);
    }

    @include breakpoint(map-get($breakpoints, small)) {
      width: span(7);
    }
  }
}
