header {
  @include organism;

  .logo {
    display: inline-block;
  }

  .collapsible-menu {
    display: inline-block;
    margin-left: 40px;

    .collapsible-menu-items
    {
      li a
      {
      }
    }
  }

  .user-account {
    float: right;
    font-size: $font-size-small;
  }
}
