table {
  border-collapse: collapse;
}

// Listing table

%table-listing {
  width: 100%;
  font-size: $font-size-small;

  @extend %striped;
  @extend %bordered;

  @extend %thead-listing;

  select {
    display: inline-block;
  }  
}

table.listing {
  @extend %table-listing;
}

// Table for displaying data

table.data {
  width: 100%;

  td {
    padding: 3px 10px 3px 0px;
  }
}

