ul,
ol {
  list-style-type: none;
  margin: 0;
  padding: 0;

  &%default-ul {
    list-style-type: disc;
    margin-bottom: $small-spacing;
    padding-left: $base-spacing;
  }

  &%default-ol {
    list-style-type: decimal;
    margin-bottom: $small-spacing;
    padding-left: $base-spacing;
  }

  &%inline-ul {
    li {
      display: inline-block;
    }
  }

  &%bulleted-ul, &.bulleted-ul {
    list-style-type: none;
    margin-bottom: $small-spacing;
    padding-left: 0;

    li {
      padding-left: 2rem;
      padding-bottom: $small-spacing/2;
      text-indent: -0rem;
      position: relative;

      &:before {
        content: "\2022";
        position: absolute;
        left: 0.8rem;
        top: 0.8rem;
        font-size: 2.2rem;
        line-height: 0rem;
        color: $medium-gray;
      }
    }
  }
}

@mixin thumbnail-links($cols) {
  display: inline-block;

  li {
    padding: 20px;
    text-align: center;

    @include span($cols);

    &:last-child {
      @include span(last $cols);
    }

    .title {
      margin: 0.5em 0 0.5em 0;
      font-size: $font-size-large;
    }

    .blurb {
      color: $color-text;
      font-size: $font-size-small * 1.1;

      &:hover {
        color: darken($color-text, 10%);
      }
    }

    @include breakpoint(map-get($breakpoints, medium)) {
      padding: 0px;
    }
  }

  @include breakpoint(map-get($breakpoints, small)) {
    li {
      @include span(12);
      float: none;
      display: block;
      margin: 10px 0 30px 0;

      &:last-child {
        @include span(12);
      }
    }
  }
}


dl {
  margin-bottom: $small-spacing;

  dt {
    font-weight: bold;
    margin-top: $small-spacing;
  }

  dd {
    margin: 0;
  }
}

ul.checkbox {
  margin: 0;
  padding: 0;

  li {
    position: relative;
    padding: 0.2em 0;

    list-style: none;

    label {
      font-weight: normal;
      cursor: pointer;
    }

    .checkbox {
      position: absolute;
      top: 0.4em;
      left: 0px;
      width: 1.1em;
      height: 1.1em;
      border: solid 1px $medium-gray;
      background-color: white;
    }

    &:hover {
      color: $action-color;

      .checkbox {
        border-color: $action-color;
      }
    }

    &.selected {
      label {
        font-weight: bold;
      }

      .checkbox {
        background-image: url('/static/images/checkmark.png');
        background-repeat: no-repeat;
        background-position: center center;
        background-size: 10px;
      }
    }
  }
}

td ul {
  li {
    margin-bottom: 0.5em;

    &:last-child {
      margin-bottom: 0;
    }
  }
}
