// Mixins

@mixin centered {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin organism-label {
  @include centered;
  font-size: 3rem;
  background-color: $color-placeholder;
}

img,
picture {
  margin: 0;
  max-width: 100%;
}

a img {
  border: none;
}
