$color-placeholder: #f5f5f5;

@mixin centered {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin organism-label {
  @include centered;
  font-size: 3rem;
  background-color: $color-placeholder;
}
