$base-spacing: 1.5em !default;

// $info-color: #e5edf8 !default;
// $success-color: #e6efc2 !default;
// $warning-color: #fff6bf !default;
// $error-color: #fbe3e4 !default;

$info-color: lighten($color-blue-dark, 20%);
$success-color: lighten($color-green, 20%);
$warning-color: #fff6bf !default;
$error-color: lighten($color-red-light, 20%);

@mixin message($color) {
  background-color: $color;
  border: solid 1px darken($color, 15%);
  color: darken($color, 60%);
  display: block;
  margin-bottom: $base-spacing / 2;
  padding: $base-spacing / 2;
  text-align: center;

  a {
    color: darken($color, 70%);
    text-decoration: underline;

    &:focus,
    &:hover {
      color: darken($color, 90%);
    }
  }
}

.message-debug {
  @include message($info-color);
}

.message-info {
  @include message($info-color);
}

.message-success {
  @include message($success-color);
}

.message-warning {
  @include message($warning-color);
}

.message-error {
  @include message($error-color);
}

.messages {
  @include container();

  margin-top: 10px;
  margin-bottom: 10px;
}
