table {
  border-collapse: collapse;
}

td.center {
  text-align: center;
}

td.right {
  text-align: right;
}

td.left {
  text-align: left;
}

td.number {
  text-align: right;
}

td.empty {
  text-align: center;
}

td.availability {
  white-space: nowrap;
}

td.validation {
  .tooltip-item {
    display: block;
  }
}

td.cellline-status {
  white-space: nowrap;

  .for-sale {
    display: inline-block;
    color: white;
    background-color: $color-green;
    padding: 2px 5px;
    font-weight: bold;
  }
}

td.label {
  // width: 1%;
  width: 33%;
  vertical-align: top;
  // white-space: nowrap;
  text-align: right;
  color: $dark-gray;

  @include breakpoint(map-get($breakpoints, small)) {
    white-space: normal;
  }
}

th.title {
  padding-bottom: 20px;
  text-align: left;

  h2 {
    margin-bottom: 0px;
    margin-top: 0;
    padding-bottom: 5px;
    padding-top: 20px;
    border-bottom: $base-border;
  }
}

th.sub-title {
  h3 {
    margin: 1rem 0 0.5em 0;
    padding: 0 10px 0 0;
    text-align: right;
  }
}

%th-listing {
  background-color: darken($color-table-background, 40%);
  color: white;
  text-align: left;
  cursor: pointer;

  .sort {
    color: white;
    display: block;
  }

  &.order-by {
    background-color: darken($color-table-background, 55%);

    .sort {
      position: relative;

      &:after
      {
          position: absolute;
          content: "▼";
          font-family: sans-serif;
          font-size: $font-size-small * 0.8;
          top: 4px;
          margin-left: 5px;
      }
    }

    &.desc {
      .sort {
        &:after {
          content: "▲";
        }
      }
    }
  }
}

%striped {
  tr {
    &:nth-child(even) {
      background-color: $color-table-background;
    }

    &:nth-child(odd) {
      background-color: transparent;
    }

    &:hover {
      background-color: lighten($color-blue-dark, 65%);
    }
  }
}

%bordered {
  td, th {
    border: solid 1px $base-border-color;
    padding: 10px;
    vertical-align: top;
  }
}

// Table headers

%thead-listing {
  thead {
    th {
      @extend %th-listing;
    }
  }
}

// Listing table

%table-listing {
  width: 100%;
  max-width: 100%;
  font-size: $font-size-small;

  @extend %striped;
  @extend %bordered;

  @extend %thead-listing;

  select {
    display: inline-block;
  }
}

table.listing {
  @extend %table-listing;

  th {
    white-space: nowrap;
    padding-right: 30px;

    @include breakpoint(map-get($breakpoints, small)) {
      white-space: normal;
    }
  }

  td:first-child {
    white-space: nowrap;
  }
}


table.striped {
  @extend %striped;
}

table.bordered {
  @extend %bordered;

  th {
    background-color: $color-table-background;
  }
}

// Table for displaying data

table.data {
  width: 100%;
  max-width: 100%;

  td {
    padding: 3px 10px 3px 0px;
    vertical-align: top;

    table {
      th, td {
        vertical-align: top;
        text-align: left;
        padding-right: 1em;

        &.center {
          text-align: center;
        }

        &.right {
          text-align: right;
        }
      }
    }
  }
}

// Table for forms

table.form {
  td, th {
    padding: 0.5rem 1rem 1.2rem 0;
    vertical-align: top;

    br {
      display: none;
    }
  }

  th {
    text-align: right;
  }

  .errorlist {
    margin-bottom: 0.5rem;
  }

  .helptext {
    margin-top: -0.4rem;
    display: block;
    @extend .comment;

    .tooltip-item {
      margin-top: 0.5rem;
      text-align: left;

      .tooltip {
        width: 300px;
        max-width: none;
        text-align: left;
        left: -0.3rem;
        padding: 1.5rem 1.5rem 0.5rem 1.5rem;

        &::after {
          text-align: left;
        }
      }
    }
  }

  input[type="text"] {
    margin-top: -0.5rem;
  }

  input[type="text"].small {
    max-width: 5rem;
  }
}
