<tr><th colspan="2" class="title" id="culture-conditions"><h2>Culture Conditions</h2></th></tr>

<tr><td class="label">Medium:</td><td>{{ batch.batchcultureconditions.culture_medium|default:"-" }}</td></tr>
<tr><td class="label">Passage method:</td><td>{{ batch.batchcultureconditions.passage_method|default:"-" }}</td></tr>
<tr><td class="label">Matrix:</td><td>{{ batch.batchcultureconditions.matrix|default:"-" }}</td></tr>
<tr><td class="label">CO2 concentration:</td><td>{{ batch.batchcultureconditions.co2_concentration|default:"-" }}</td></tr>
<tr><td class="label">O2 concentration:</td><td>{{ batch.batchcultureconditions.o2_concentration|default:"-" }}</td></tr>
<tr><td class="label">Temperature:</td><td>{{ batch.batchcultureconditions.temperature|default:"-" }}</td></tr>
