<tr><th colspan="2" class="title" id="genotyping"><h2>Genotyping</h2></th></tr>

    {% if cellline.karyotype %}
    <tr><th class="sub-title"><h3>Karyotyping</h3></th><th></th></tr>

    {% if cellline.karyotype.passage_number %}
    <tr><td class="label">Passage number:</td><td>{{ cellline.karyotype.passage_number|default:"-" }}</td></tr>
    {% endif %}
    <tr><td class="label">Cell line karyotype:</td><td>{{ cellline.karyotype.karyotype|default:"-" }}</td></tr>
    <tr><td class="label">Karyotyping method:</td><td>{{ cellline.karyotype.karyotype_method|default:"-" }}</td></tr>
    {% endif %}

    {% if cellline.str_fingerprinting.all|length or cellline.genome_analysis %}
    <tr><th class="sub-title"><h3>Genome-Wide Assays</h3></th><th></th></tr>

        {% if cellline.str_fingerprinting.all|length %}
        <tr>
            <td class="label">STR/Fingerprinting:</td>
            <td>
                <table>
                    <tr>
                        <th>Locus</th>
                        <th>Allele 1</th>
                        <th>Allele 2</th>
                    </tr>
                    {% for locus in cellline.str_fingerprinting.all %}
                    <tr>
                        <td>{{ locus.locus }}</td>
                        <td class="center">{{ locus.allele1 }}</td>
                        <td class="center">{{ locus.allele2 }}</td>
                    </tr>
                    {% endfor %}
                </table>
            </td>
        </tr>
        {% endif %}

        {% if cellline.genome_analysis %}
        <tr>
            <td class="label">Genome-wide analysis:</td>
            <td>
                {% if cellline.genome_analysis.data %}{{ cellline.genome_analysis.data }}{% endif %}
                {% if cellline.genome_analysis.data and cellline.genome_analysis.link %}<br/>{% endif %}
                {% if cellline.genome_analysis.link %}<a href="{{ cellline.genome_analysis.link }}">{{ cellline.genome_analysis.link }}</a>{% endif %}</td>
        </tr>
        {% endif %}

    {% endif %}

    {% if cellline.genetic_modification_transgene_expression or cellline.genetic_modification_gene_knock_out or cellline.genetic_modification_gene_knock_in or cellline.genetic_modification_isogenic %}
    <tr><th class="sub-title"><h3>Genetic modification</h3></th><th></th></tr>
        {% if cellline.genetic_modification_transgene_expression %}
            <tr>
                <td class="label">Type of modification:</td>
                <td><b>Transgene expression</b></td>
            </tr>

            {% if cellline.genetic_modification_transgene_expression.genes.all|length %}
            <tr>
                <td class="label">Genes:</td>
                <td>
                    <ul>
                        {% for gene in cellline.genetic_modification_transgene_expression.genes.all %}
                        <li>{{ gene.name }}</li>
                        {% endfor%}
                    </ul>
                </td>
            </tr>
            {% endif %}

            {% if cellline.genetic_modification_transgene_expression.delivery_method %}
            <tr>
                <td class="label">Delivery method:</td>
                <td>
                    {{ cellline.genetic_modification_transgene_expression.delivery_method }}
                    {% if cellline.genetic_modification_transgene_expression.virus %} - {{ cellline.genetic_modification_transgene_expression.virus }}{% endif %}
                    {% if cellline.genetic_modification_transgene_expression.transposon %} - {{ cellline.genetic_modification_transgene_expression.transposon }}{% endif %}
                </td>
            </tr>
            {% endif %}
        {% endif %}

        {% if cellline.genetic_modification_gene_knock_out %}
            <tr>
                <td class="label">Type of modification:</td>
                <td><b>Gene knock-out</b></td>
            </tr>

            {% if cellline.genetic_modification_gene_knock_out.target_genes.all|length %}
            <tr>
                <td class="label">Target genes:</td>
                <td>
                    <ul>
                        {% for gene in cellline.genetic_modification_gene_knock_out.target_genes.all %}
                        <li>{{ gene.name }}</li>
                        {% endfor%}
                    </ul>
                </td>
            </tr>
            {% endif %}

            {% if cellline.genetic_modification_gene_knock_out.delivery_method %}
            <tr>
                <td class="label">Delivery method:</td>
                <td>
                    {{ cellline.genetic_modification_gene_knock_out.delivery_method }}
                    {% if cellline.genetic_modification_gene_knock_out.virus %} - {{ cellline.genetic_modification_gene_knock_out.virus }}{% endif %}
                    {% if cellline.genetic_modification_gene_knock_out.transposon %} - {{ cellline.genetic_modification_gene_knock_out.transposon }}{% endif %}
                </td>
            </tr>
            {% endif %}
        {% endif %}

        {% if cellline.genetic_modification_gene_knock_in %}
            <tr>
                <td class="label">Type of modification:</td>
                <td><b>Gene knock-in</b></td>
            </tr>

            {% if cellline.genetic_modification_gene_knock_in.target_genes.all|length %}
            <tr>
                <td class="label">Target genes:</td>
                <td>
                    <ul>
                        {% for gene in cellline.genetic_modification_gene_knock_in.target_genes.all %}
                        <li>{{ gene.name }}</li>
                        {% endfor%}
                    </ul>
                </td>
            </tr>
            {% endif %}

            {% if cellline.genetic_modification_gene_knock_in.transgenes.all|length %}
            <tr>
                <td class="label">Transgenes:</td>
                <td>
                    <ul>
                        {% for gene in cellline.genetic_modification_gene_knock_in.transgenes.all %}
                        <li>{{ gene.name }}</li>
                        {% endfor%}
                    </ul>
                </td>
            </tr>
            {% endif %}

            {% if cellline.genetic_modification_gene_knock_in.delivery_method %}
            <tr>
                <td class="label">Delivery method:</td>
                <td>
                    {{ cellline.genetic_modification_gene_knock_in.delivery_method }}
                    {% if cellline.genetic_modification_gene_knock_in.virus %} - {{ cellline.genetic_modification_gene_knock_in.virus }}{% endif %}
                    {% if cellline.genetic_modification_gene_knock_in.transposon %} - {{ cellline.genetic_modification_gene_knock_in.transposon }}{% endif %}
                </td>
            </tr>
            {% endif %}
        {% endif %}

        {% if cellline.genetic_modification_isogenic %}
            <tr>
                <td class="label">Type of modification:</td>
                <td><b>Isogenic modification</b></td>
            </tr>

            {% if cellline.genetic_modification_isogenic.target_locus.all|length %}
            <tr>
                <td class="label">Target loci:</td>
                <td>
                    <ul>
                        {% for gene in cellline.genetic_modification_isogenic.target_locus.all %}
                        <li>{{ gene.name }}</li>
                        {% endfor%}
                    </ul>
                </td>
            </tr>
            {% endif %}

            {% if cellline.genetic_modification_isogenic.change_type %}
            <tr>
                <td class="label">Type of change:</td>
                <td>{{ cellline.genetic_modification_isogenic.change_type }}</td>
            </tr>
            {% endif %}

            {% if cellline.genetic_modification_isogenic.modified_sequence %}
            <tr>
                <td class="label">Modified sequence:</td>
                <td>{{ cellline.genetic_modification_isogenic.modified_sequence }}</td>
            </tr>
            {% endif %}
        {% endif %}

    {% endif %}
