{% extends 'base.html' %}

{% block title %}Cell line {{ cellline.name }}{% endblock %}

{% block article %}

<h1>{{ cellline.name }} {% if cellline.alternative_names %}<small>{{ cellline.alternative_names }}</small>{% endif %}</h1>

{% if cellline.ecacc_id %}
<a class="buy" href="http://hpa-uat.systemassociates.co.uk/products/celllines/ebisc/detail.jsp?refId={{ cellline.ecacc_id }}&collection=ecacc_ebisc"  target="_blank">
    <button><i class="glyphicon glyphicon-shopping-cart "></i> Purchase cell line</button>
    <div class="comment">At European Collection of Cell Cultures (ECACC)</div>
</a>
{% endif %}

{% include 'search/__cellline_data__.html' %}

{% endblock %}
