{% extends 'base.html' %}

{% load i18n static %}

{% block title %}Cell Line Search{% endblock %}

{% block article %}

<h1>Cell Line Search</h1>

<div class="search-filters">
    <div class="search-form">
        <form action="" class="search">
            <input type="text" placeholder="Enter keywords">
            <input type="submit" value="Search">
        </form>        
    </div>
    <div class="filter-group">
        <div class="dropdown">
            <div class="dropdown-container">
                <div class="dropdown-button">Accepted status</div>
                <ul class="dropdown-menu checkbox">
                  <li><div class="checkbox"></div><label>Pending</label></li>
                  <li><div class="checkbox"></div><label>Accepted</label></li>
                  <li><div class="checkbox"></div><label>Rejected</label></li>
                </ul>                
            </div>
        </div>
        <div class="dropdown">
            <div class="dropdown-container">
                <div class="dropdown-button">Depositor</div>
                <ul class="dropdown-menu checkbox">
                    <li><div class="checkbox"></div><label>BION - BION</label></li>
                    <li><div class="checkbox"></div><label>ES - ES</label></li>
                    <li><div class="checkbox"></div><label>HUB - HUB</label></li>
                    <li><div class="checkbox"></div><label>RC - RC</label></li>
                    <li><div class="checkbox"></div><label>UKB - UKB</label></li>
                    <li><div class="checkbox"></div><label>UKK - UKK</label></li>
                    <li><div class="checkbox"></div><label>UNEW - UNEW</label></li>
                </ul>                
            </div>
        </div>
        <div class="dropdown two-col">
            <div class="dropdown-container">
                <div class="dropdown-button">Disease</div>
                <ul class="dropdown-menu checkbox">
                    <li><div class="checkbox"></div><label>Acquired aplastic anaemia</label></li>
                    <li><div class="checkbox"></div><label>Brugada Syndrome</label></li>
                    <li><div class="checkbox"></div><label>CPVT-1</label></li>
                    <li><div class="checkbox"></div><label>Cernunnos (XLF) Deficiency syndrome</label></li>
                    <li><div class="checkbox"></div><label>Control</label></li>
                    <li class="selected"><div class="checkbox"></div><label>Creatine Transporter deficiency</label></li>
                    <li><div class="checkbox"></div><label>Epidermolysis Bullosa</label></li>
                    <li><div class="checkbox"></div><label>Familial Erythromelalgia</label></li>
                    <li><div class="checkbox"></div><label>Fanconi Anemia (FA)</label></li>
                    <li><div class="checkbox"></div><label>Gaucher Disease</label></li>
                    <li><div class="checkbox"></div><label>Hereditary spastic Paraplegia: SPG4</label></li>
                    <li><div class="checkbox"></div><label>Huntington's Disease</label></li>
                    <li><div class="checkbox"></div><label>Long QT Syndrome-3</label></li>
                    <li><div class="checkbox"></div><label>Machado-Joseph</label></li>
                    <li><div class="checkbox"></div><label>Parkinson's Disease</label></li>
                    <li><div class="checkbox"></div><label>Retinitis pigmentosa</label></li>
                    <li><div class="checkbox"></div><label>Spinal muscular atrophy (SMA)</label></li>
                    <li><div class="checkbox"></div><label>Unknown</label></li>
                </ul>                
            </div>
        </div>
    </div>
</div>

<table class="listing">

    <thead>
        <tr>            
            <th><a href="?sort=biosamplesID">Biosamples ID</a></th>
            <th><a href="?sort=cellLineName">Cell line Name</a></th>
            <th><a href="?sort=disease">Disease</a></th>
            <th><a href="?sort=registrationDate">Date of Registration</a></th>            
            <th><a href="?sort=depositor">Depositor</a></th>            
        </tr>
    </thead>

    <tbody>
        {% for cellline in celllines %}
        <tr class="accepted-{{ cellline.celllineaccepted }}">
            <td><a href="{% url 'search:cellline' cellline.biosamplesid %}">{{ cellline.biosamplesid }}</a></td>
            <td>{{ cellline.celllinename }}</td>
            <td>{{ cellline.celllineprimarydisease }}</td>
            <td>{{ cellline.registration_name }}</td>
            <td>{{ cellline.celllineorganization.organization }}</td>
        </tr>
        {% endfor %}
    </tbody>

</table>

{% endblock %}
