{% extends 'base.html' %}

{% load i18n %}

{% block title %}Cell line search{% endblock %}

{% block article %}

<h1>Cell line search</h1>

<div class="search-filters">
    <div class="search-form">
        <form action="" class="search">
            <input type="text" placeholder="Enter keywords">
            <input type="submit" value="Search">
        </form>        
    </div>
    <div class="filter-group">
        <div class="filter dropdown">
            <div class="dropdown-container">
                <div class="dropdown-button">Accepted status</div>
                <ul class="dropdown-menu dropdown-select">
                  <li>Pending</li>
                  <li>Accepted</li>
                  <li>Rejected</li>
                </ul>                
            </div>
        </div>
        <div class="filter dropdown">
            <div class="dropdown-container">
                <div class="dropdown-button">Depositor</div>
                <ul class="dropdown-menu dropdown-select">
                    <li>BION - BION</li>
                    <li>ES - ES</li>
                    <li>HUB - HUB</li>
                    <li>RC - RC</li>
                    <li>UKB - UKB</li>
                    <li>UKK - UKK</li>
                    <li>UNEW - UNEW</li>
                </ul>                
            </div>
        </div>
        <div class="filter dropdown two-col">
            <div class="dropdown-container">
                <div class="dropdown-button">Disease</div>
                <ul class="dropdown-menu dropdown-select">
                    <li>Acquired aplastic anaemia</li>
                    <li>Brugada Syndrome</li>
                    <li>CPVT-1</li>
                    <li>Cernunnos (XLF) Deficiency syndrome</li>
                    <li>Control</li>
                    <li>Creatine Transporter deficiency</li>
                    <li>Epidermolysis Bullosa</li>
                    <li>Familial Erythromelalgia</li>
                    <li>Fanconi Anemia (FA)</li>
                    <li>Gaucher Disease</li>
                    <li>Hereditary spastic Paraplegia: SPG4</li>
                    <li>Huntington's Disease</li>
                    <li>Long QT Syndrome-3</li>
                    <li>Machado-Joseph</li>
                    <li>Parkinson's Disease</li>
                    <li>Retinitis pigmentosa</li>
                    <li>Spinal muscular atrophy (SMA)</li>
                    <li>Unknown</li>
                </ul>                
            </div>
        </div>
    </div>
</div>

<table class="dashboard">

    <thead>
        <tr>            
            <th><a href="?sort=biosamplesID">Biosamples ID</a></th>
            <th><a href="?sort=cellLineName">Cell line Name</a></th>
            <th><a href="?sort=disease">Disease</a></th>
            <th><a href="?sort=registrationDate">Date of Registration</a></th>            
            <th><a href="?sort=depositor">Depositor</a></th>            
            <th><a href="?sort=quantity">QTY</a></th>            
            <th><a href="?sort=sold">Sold</a></th>            
        </tr>
    </thead>

    <tbody>
        {% for cellline in celllines %}
        <tr class="accepted-{{ cellline.celllineaccepted }}">
            <td><a href="{% url 'search:cellline' cellline.biosamplesid %}">{{ cellline.biosamplesid }}</a></td>
            <td>{{ cellline.celllinename }}</td>
            <td>{{ cellline.celllineprimarydisease }}</td>
            <td>{{ cellline.registration_name }}</td>
            <td>{{ cellline.celllineorganization.organization }}</td>
            <td class="number {{ cellline.quantity|default:'empty' }}">{{ cellline.quantity|default:'-' }}</td>
            <td class="number {{ cellline.sold|default:'empty' }}">{{ cellline.sold|default:'-' }}</td>
        </tr>
        {% endfor %}
    </tbody>

</table>


{% endblock %}
