{% extends 'base.html' %}

{% load i18n static %}

{% block title %}Cell Line Search{% endblock %}

{% block article %}

<h1>Cell Line Search</h1>

<div class="search-filters">
    <div class="search-form">
        <form action="" class="search">
            <input type="text" placeholder="Enter keywords">
            <input type="submit" value="Search">
        </form>        
    </div>
    <div class="filter-group">
        <div class="filter dropdown">
            <div class="dropdown-container">
                <div class="dropdown-button">Accepted status</div>
                <ul class="dropdown-menu dropdown-select">
                  <li><input type="checkbox" id="status_a" name="a"><label for="status_a">Pending</label></li>
                  <li><input type="checkbox" id="status_b" name="b"><label for="status_b">Accepted</label></li>
                  <li><input type="checkbox" id="status_c" name="c"><label for="status_c">Rejected</label></li>
                </ul>                
            </div>
        </div>
        <div class="filter dropdown">
            <div class="dropdown-container">
                <div class="dropdown-button">Depositor</div>
                <ul class="dropdown-menu dropdown-select">
                    <li><div class="checkbox"></div>BION - BION</li>
                    <li><div class="checkbox"></div>ES - ES</li>
                    <li><div class="checkbox"></div>HUB - HUB</li>
                    <li><div class="checkbox"></div>RC - RC</li>
                    <li><div class="checkbox"></div>UKB - UKB</li>
                    <li><div class="checkbox"></div>UKK - UKK</li>
                    <li><div class="checkbox"></div>UNEW - UNEW</li>
                </ul>                
            </div>
        </div>
        <div class="filter dropdown two-col">
            <div class="dropdown-container">
                <div class="dropdown-button">Disease</div>
                <ul class="dropdown-menu dropdown-select">
                    <li><div class="checkbox"></div>Acquired aplastic anaemia</li>
                    <li><div class="checkbox"></div>Brugada Syndrome</li>
                    <li><div class="checkbox"></div>CPVT-1</li>
                    <li><div class="checkbox"></div>Cernunnos (XLF) Deficiency syndrome</li>
                    <li><div class="checkbox"></div>Control</li>
                    <li><div class="checkbox"></div>Creatine Transporter deficiency</li>
                    <li><div class="checkbox"></div>Epidermolysis Bullosa</li>
                    <li><div class="checkbox"></div>Familial Erythromelalgia</li>
                    <li><div class="checkbox"></div>Fanconi Anemia (FA)</li>
                    <li><div class="checkbox"></div>Gaucher Disease</li>
                    <li><div class="checkbox"></div>Hereditary spastic Paraplegia: SPG4</li>
                    <li><div class="checkbox"></div>Huntington's Disease</li>
                    <li><div class="checkbox"></div>Long QT Syndrome-3</li>
                    <li><div class="checkbox"></div>Machado-Joseph</li>
                    <li><div class="checkbox"></div>Parkinson's Disease</li>
                    <li><div class="checkbox"></div>Retinitis pigmentosa</li>
                    <li><div class="checkbox"></div>Spinal muscular atrophy (SMA)</li>
                    <li><div class="checkbox"></div>Unknown</li>
                </ul>                
            </div>
        </div>
    </div>
</div>

<table class="dashboard">

    <thead>
        <tr>            
            <th><a href="?sort=biosamplesID">Biosamples ID</a></th>
            <th><a href="?sort=cellLineName">Cell line Name</a></th>
            <th><a href="?sort=disease">Disease</a></th>
            <th><a href="?sort=registrationDate">Date of Registration</a></th>            
            <th><a href="?sort=depositor">Depositor</a></th>            
        </tr>
    </thead>

    <tbody>
        {% for cellline in celllines %}
        <tr class="accepted-{{ cellline.celllineaccepted }}">
            <td><a href="{% url 'search:cellline' cellline.biosamplesid %}">{{ cellline.biosamplesid }}</a></td>
            <td>{{ cellline.celllinename }}</td>
            <td>{{ cellline.celllineprimarydisease }}</td>
            <td>{{ cellline.registration_name }}</td>
            <td>{{ cellline.celllineorganization.organization }}</td>
        </tr>
        {% endfor %}
    </tbody>

</table>

{% endblock %}

{% block extra-scripts %}
<script src="{% static 'scripts/search.js' %}"></script>
{% endblock %}
