{% extends 'base.html' %}

{% load cms %}

{% block article %}


<ul>
    <li><a href="exec-dash/">Executive dashboard</a></li>
    <li><a href="search/">Cell line search</a></li>
    <li><a href="depositors/">Depositors</a></li>
</ul>

{% if document.content.title.title %}<h1>{{ document.content.title.title }}{% if document.content.title.subtitle %} <small>{{ document.content.title.subtitle }}</small>{% endif %}</h1>{% endif %}

{% block article-content %}
{{ document.content.content|default_if_none:""|cmstags:document|safe }}

<h1>Cell Lines <small>Executive dashboard</small></h1>

<div class="search-filters">
    <div class="search-form">
        <form action="" class="search">
            <input type="text" placeholder="Enter keywords">
            <input type="submit" value="Search">
        </form>        
    </div>
    <div class="filter-group">
        <div class="filter dropdown">
            <div class="dropdown-container">
                <div class="dropdown-button">Accepted status</div>
                <ul class="dropdown-menu dropdown-select">
                  <li>Pending</li>
                  <li>Accepted</li>
                  <li>Rejected</li>
                </ul>                
            </div>
        </div>
        <div class="filter dropdown">
            <div class="dropdown-container">
                <div class="dropdown-button">Depositor</div>
                <ul class="dropdown-menu dropdown-select">
                    <li>BION - BION</li>
                    <li>ES - ES</li>
                    <li>HUB - HUB</li>
                    <li>RC - RC</li>
                    <li>UKB - UKB</li>
                    <li>UKK - UKK</li>
                    <li>UNEW - UNEW</li>
                </ul>                
            </div>
        </div>
        <div class="filter dropdown two-col">
            <div class="dropdown-container">
                <div class="dropdown-button">Disease</div>
                <ul class="dropdown-menu dropdown-select">
                    <li>Acquired aplastic anaemia</li>
                    <li>Brugada Syndrome</li>
                    <li>CPVT-1</li>
                    <li>Cernunnos (XLF) Deficiency syndrome</li>
                    <li>Control</li>
                    <li>Creatine Transporter deficiency</li>
                    <li>Epidermolysis Bullosa</li>
                    <li>Familial Erythromelalgia</li>
                    <li>Fanconi Anemia (FA)</li>
                    <li>Gaucher Disease</li>
                    <li>Hereditary spastic Paraplegia: SPG4</li>
                    <li>Huntington's Disease</li>
                    <li>Long QT Syndrome-3</li>
                    <li>Machado-Joseph</li>
                    <li>Parkinson's Disease</li>
                    <li>Retinitis pigmentosa</li>
                    <li>Spinal muscular atrophy (SMA)</li>
                    <li>Unknown</li>
                </ul>                
            </div>
        </div>
    </div>
</div>
    

{% endblock %}

{% endblock %}
