{% extends '_base.html' %}

{% load cms %}

{% block article %}

{% if document.content.title.title %}<h1>{{ document.content.title.title }}{% if document.content.title.subtitle %} <small>{{ document.content.title.subtitle }}</small>{% endif %}</h1>{% endif %}

{% block article-content %}
{{ document.content.content|default_if_none:""|cmstags:document|safe }}

<h1>Cell Lines <small>Executive dashboard</small></h1>

<p style="margin-bottom: 2em"><i>Funkciji dashboarda: odobravanje/zavračanje submitanih cellinov + pregled nakupov (povezava z ECACC? - zaenkrat spustimo?)</i></p>

<p><i>Funkcionalnosti:
<ul style="margin-bottom: 2em">
    <li>Sortable po stolpcih.</li>
    <li>Naj bi bil tudi search. Filtri? (predlagam, da to dvoje narediva za tem, ko bova naredila toisto za browsanje cell linov)</li>
    <li>Ni podatka kateri vse cellini naj se kažejo v prvem pogledu, piše samo to, da morajo biti organizirani po datumu (zadnjih 50 + show more button ?).</li>
</ul>
</i></p>

<table class="dashboard">
    <thead>
        <tr>            
            <th>
                <a href="">Status</a>
            </th>            
            <th>
                <a href="">Biosamples ID</a>
            </th>
            <th>
                <a href="">Cell line Name</a>
            </th>
            <th>
                <a href="">Disease</a>
            </th>
            <th>
                <a href="">Date of Registration</a>
            </th>            
            <th>
                <a href="">Depositor</a>
            </th>            
            <th>
                <a href="">QTY</a>
            </th>            
            <th>
                <a href="">Sold</a>
            </th>            
        </tr>
    </thead>
    <tbody>
        <tr class="status-pending">
            <td class="status">
                <select>
                    <option value="">Pending</option>
                    <option value="">Accepted</option>
                    <option value="">Rejected</option>
                </select>
            </td>
            <td><a href="./">SAMEA2590892</a></td>
            <td>UKBi006-A</td>
            <td>Cernunnos (XLF) Deficiency syndrome</td>
            <td>Feb 31, 2015</td>
            <td>Institut für Rekonstruktive Neurobiologie</td>
            <td class="number">/</td>
            <td class="number">/</td>
        </tr>
        <tr class="status-accepted">
            <td class="status">
                <span>Accepted</span>
            </td>
            <td><a href="./">SAMEA2590985</a></td>
            <td>UKBi006-A</td>
            <td>Retinitis pigmentosa</td>
            <td>Jan 22, 2015</td>
            <td>Institut für Rekonstruktive Neurobiologie</td>
            <td class="number">50</td>
            <td class="number">0</td>
        </tr>
        <tr class="status-pending">
            <td class="status">
                <select>
                    <option value="">Pending</option>
                    <option value="">Accepted</option>
                    <option value="">Rejected</option>
                </select>
            </td>
            <td><a href="./">SAMEA2591001</a></td>
            <td>UKBi002-A</td>
            <td>Control</td>
            <td>Jan 21, 2015</td>
            <td>Institut für Rekonstruktive Neurobiologie</td>
            <td class="number">/</td>
            <td class="number">/</td>
        </tr>
        <tr class="status-accepted">
            <td class="status">
                <span>Accepted</span>
            </td>
            <td><a href="./">SAMEA2614016</a></td>
            <td>UKBi001-A</td>
            <td>CPVT-1</td>
            <td>Jan 21, 2015</td>
            <td>Institut für Rekonstruktive Neurobiologie</td>
            <td class="number">29</td>
            <td class="number">11</td>
        </tr>
        <tr class="status-rejected">
            <td class="status">
                <select>
                    <option value="">Rejected</option>
                    <option value="">Accepted</option>
                </select>
            </td>
            <td><a href="./">SAMEA2614075</a></td>
            <td>UKBi003-A</td>
            <td>Machado-Joseph</td>
            <td>Jan 21, 2015</td>
            <td>Institut für Rekonstruktive Neurobiologie</td>
            <td class="number">/</td>
            <td class="number">/</td>
        </tr>
        <tr class="status-accepted">
            <td class="status">
                <span>Accepted</span>
            </td>
            <td><a href="./">SAMEA2614016</a></td>
            <td>UKBi001-A</td>
            <td>Control</td>
            <td>Jan 21, 2015</td>
            <td>Institut für Rekonstruktive Neurobiologie</td>
            <td class="number">48</td>
            <td class="number">2</td>
        </tr>
        <tr class="status-accepted">
            <td class="status">
                <span>Accepted</span>
            </td>
            <td><a href="./">SAMEA2614016</a></td>
            <td>UKBi001-A</td>
            <td>Machado-Joseph</td>
            <td>Jan 21, 2015</td>
            <td>Institut für Rekonstruktive Neurobiologie</td>
            <td class="number">45</td>
            <td class="number">5</td>
        </tr>
        <tr class="status-rejected">
            <td class="status">
                <select>
                    <option value="">Rejected</option>
                    <option value="">Accepted</option>
                </select>
            </td>
            <td><a href="./">SAMEA2614075</a></td>
            <td>UKBi003-A</td>
            <td>Machado-Joseph</td>
            <td>Jan 21, 2015</td>
            <td>Institut für Rekonstruktive Neurobiologie</td>
            <td class="number">/</td>
            <td class="number">/</td>
        </tr>
    </tbody>
</table>

<hr>

<p style="margin-bottom: 2em"><i>Stran enega cell lina:</i></p>

<div class="card actions">
    <div class="title">Set status:</div>
    <form action="">
        <input type="checkbox"> Accepted
        <input type="checkbox"> Rejected
    </form>
</div>

<table class="data">
    <tr>
        <th colspan="2"><h2>General Information</h2></th>
    </tr>
    <tr>
        <td class="label">Biosamples ID:</td><td>SAMEA2590892</td>
    </tr>
    <tr>
        <td class="label">Cell line name:</td><td>UKBi006-A</td>
    </tr>
    <tr>
        <td class="label">Cell line name synonyms:</td><td>LB-35-r1</td>
    </tr>
    <tr>
        <td class="label">Donor:</td><td>A02</td>
    </tr>
    <tr>
        <td class="label">Disease:</td><td>Control</td>
    </tr>
    <tr>
        <td class="label">Cell line disease info:</td><td></td>
    </tr>
    <tr>
        <td class="label">Cell line status:</td><td>Available</td>
    </tr>
    <tr>
        <td class="label">Cell type:</td><td>Dermal Fibroblasts</td>
    </tr>
    <tr>
        <td class="label">Tissue source:</td><td>Dermal Fibroblasts</td>
    </tr>
    <tr>
        <td class="label">Cell line collection:</td><td></td>
    </tr>
    <tr>
        <td class="label">Clinical treatment B4 donation:</td><td></td>
    </tr>
    <tr>
        <td class="label">Cellline tissue date:</td><td></td>
    </tr>
    <tr>
        <td class="label">Depositors cell line URI:</td><td></td>
    </tr>
    <tr>
        <td class="label">Cell line comments:</td><td></td>
    </tr>
    <tr>
        <td class="label">Cell line update:</td><td></td>
    </tr>
    <tr>
        <td class="label">Last update type:</td><td></td>
    </tr>
    <tr>
        <td class="label">Cell line user account:</td><td></td>
    </tr>
    <tr>
        <td class="label">Cell line ECACC URL:</td><td></td>
    </tr>

    <tr>
        <th colspan="2"><h2>Derivation</h2></th>
    </tr>
    <tr>
        <td class="label">Primary cell type name:</td><td></td>
    </tr>
    <tr>
        <td class="label">Primary cell type cell finder id:</td><td></td>
    </tr>
    <tr>
        <td class="label">Primary cell developmental stage:</td><td></td>
    </tr>
    <tr>
        <td class="label">Selection criteria for clones:</td><td></td>
    </tr>
    <tr>
        <td class="label">Xeno free conditions:</td><td></td>
    </tr>
    <tr>
        <td class="label">Derived under gmp:</td><td></td>
    </tr>
    <tr>
        <td class="label">Available as clinical grade:</td><td></td>
    </tr>

    <tr>
        <th colspan="2"><h2>Culture Conditions</h2></th>
    </tr>

    <tr>
        <th colspan="2"><h2>Characterization</h2></th>
    </tr>

    <tr>
        <th colspan="2"><h2>Cell line labs</h2></th>
    </tr>

    <tr>
        <th colspan="2"><h2>Cell line legal</h2></th>
    </tr>

    <tr>
        <th colspan="2"><h2>Cell line values</h2></th>
    </tr>

</table>
    

{% endblock %}

{% endblock %}
