{% extends 'site/default.html' %}

{% load cms %}

{% block article-content %}

{% for section in document.content.content %}
<div class="grid-section">
    {% for row in section.rows %}
    <div class="grid-row">
        {% for col in row.columns %}
        <div class="grid-{{ col.span }}{% if col.offset %} grid-{{ col.offset }}{% endif %}">
            <div>{{ col.content|default_if_none:""|cmstags:document|safe }}</div>
        </div>
        {% endfor %}
    </div>
    {% endfor %}        
</div>
{% endfor %}

{% endblock %}
