// Grid

$breakpoints: (
  small: max-width 767px,
  medium: max-width 991px,
  large: max-width 1169px,
  x-large: 1170px
);

$container-padding: 10px 20px;

// Colors

$color-red-dark: #af1f21;
$color-red-light: #e32719;
$color-blue-dark: #004e93;
$color-blue-light: #009fee;
$color-brown: #5a4229;
$color-green: #bdd332;

$dark-gray: #797979;
$medium-gray: #bdbdbd;
$light-gray: #dddddd;

$color-text: #333333;

// Typography
$base-font-family: "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
$heading-font-family: $base-font-family;

$base-background-color: #fff;
$base-font-color: $color-text;
$action-color: $color-blue-dark;
$button-color: $action-color;

// Font Sizes
$base-font-size: 16px;
$font-size-small: $base-font-size * 0.8;
$font-size-large: $base-font-size * 1.2;

// Line height
$base-line-height: 1.5;
$heading-line-height: 1.2;

// Other Sizes
$base-border-radius: 3px;
$base-spacing: $base-line-height * 1em;
$small-spacing: $base-spacing / 2;
$base-z-index: 0;

// Backgrounds
$color-content-background: rgba(255,255,255,0.7);
$color-placeholder: #f5f5f5;
$color-table-background: lighten($light-gray, 5%);

// Borders
$base-border-color: $light-gray;
$base-border: 1px solid $base-border-color;

// Forms
$form-box-shadow: inset 0 1px 3px rgba(#000, 0.06);
$form-box-shadow-focus: $form-box-shadow, 0 0 5px adjust-color($action-color, $lightness: -5%, $alpha: -0.3);
