// Search and filter

.dashboard-search-filter {
  margin: 40px 0 10px 0;

  input.search {
    display: inline-block;
    width: 200px;
    font-size: $font-size-small * 1.1;
    padding: 3px;
    margin-right: 10px;
  }

  input[type="submit"] {
    font-size: $font-size-small * 1.1;
    padding: 4px 20px 5px 20px;
  }

  select {
    font-size: $font-size-small * 1.1;
    max-width: 200px;
    display: inline;
    padding: 10px;
    margin-right: 5px;
    color: $dark-gray;
    background-color: white;
    border-color: $medium-gray;

    &.selected, &:focus {
      color: $color-text;
      border-color: $dark-gray;
    }
  }

  .reset {
    font-size: $font-size-small * 1.1;
    display: inline-block;
    margin-left: 3px;
  }
}

// User Guide

.dashboard-user-guide {
  position: fixed;
  bottom: 70px;
  right: 0px;
  background-color: $color-blue-light;
  padding: 0.3rem 0.5rem;

  a {
    color: white;
  }
}

// Notes

.note {
  margin-top: 3rem;
  border-top: $base-border;
  padding-top: 1rem;
  font-style: italic;

  .bulleted-ul {
    li:before {
      font-size: 1.4rem;
    }
  }
}

// Availability status

table.cell-line-status {
  th {
    white-space: nowrap;
  }

  td {
    white-space: nowrap;
    font-size: $font-size-small;

    &.status-comment {
      white-space: normal;
      font-size: $base-font-size;
      min-width: 300px;

      @include breakpoint(map-get($breakpoints, medium)) {
        min-width: auto;
      }
    }
  }
}

.cell-line-status-edit {
  margin-top: 3rem;

  h3 {
    font-size: $font-size-large * 1.2;
    margin-bottom: 1rem;
  }

  table {
    td {
      padding-top: 0.5rem;
      padding-bottom: 0.5rem;

      &.label {
        white-space: nowrap;
        width: auto;
        padding-right: 0.6rem;
      }
    }

    &.form {
      textarea {
        width: 600px;
        height: 100px;

        @include breakpoint(map-get($breakpoints, medium)) {
          width: 100%;
        }
      }
    }
  }
}

.status-label {
  padding: 2px 10px;
  font-size: $font-size-small;
  white-space: nowrap;

  &.at-ecacc {
    background-color: $color-green;
    color: white;
    font-weight: bold;
  }

  &.expand-to-order {
    background-color: white;
    color: $color-green;
    color: darken($color-green, 10%);
    font-weight: bold;
    border: solid 1px $color-green;
  }

  &.restricted-distribution {
    background-color: white;
    color: darken($color-green, 10%);
    font-weight: bold;
    border: solid 1px $color-green;
  }

  &.recalled {
    background-color: white;
    color: $color-red-dark;
    border: solid 1px $color-red-dark;
  }

  &.withdrawn {
    background-color: white;
    color: $color-red-dark;
    border: solid 1px $color-red-dark;
  }

  &.not-available {
    background-color: white;
    color: $base-font-color;
    border: solid 1px $base-border-color;
  }
}

.listing .availability {
  .status-label {
    display: inline-block;
    width: 85%;
  }

  .status-edit-link {
    display: inline-block;
    margin-left: 10px;
    margin-right: 10px;
  }
}

// Batch data on executive dashboard

.batches {

  .request-bisample-ids {
    margin: 1em 0 1.5em 0;
    font-size: $font-size-large;
  }

  .accordion .content {

    h3 {
      font-size: $base-font-size * 1.2;
      margin-top: 1.5rem;
    }

    .edit-batch-data {
      margin: 1.2em 0 1.7em 0;
      font-size: $font-size-large;
    }

    .file-link {
      padding: 1rem;
      border: $base-border;
      font-size: $font-size-large;

      .glyphicon {
        font-size: $font-size-large;
      }

      @include breakpoint(map-get($breakpoints, small)) {
        font-size: $base-font-size;

        .glyphicon {
          font-size: $base-font-size;
        }
      }
    }

    .certificate-of-anlysis {
      @extend .file-link;
      display: inline-block;
      margin-top: 1rem;
      margin-left: 1rem;

      @include breakpoint(map-get($breakpoints, small)) {
        margin-left: 0;
      }
    }

    .biosample-ids-file {
      @extend .file-link;
      display: inline-block;
      margin-top: 0.8rem;
    }

    .glyphicon {
      float: none;
      padding-right: 0.5em;
      color: $action-color;
    }
  }
}

// Cell line ids

.cell-line-ids-file {
  float: right;
  margin-top: 1.5rem;
}

// Clips

.clip-upload {
  margin-top: 3rem;

  h3 {
    font-size: $font-size-large * 1.2;
    margin-bottom: 1rem;
  }

  input[type="text"] {
    max-width: 5rem;
  }
}

// Update batch data
.update-batch {
  .image {
    background-color: white;
    border: solid 1px $light-gray;
    padding: 1rem;

    input[type="text"] {
      padding: 0.2rem;
      display: inline-block;
      width: 200px;
    }

    .image-uploads {
      margin-top: 0.3rem;

      label {
        font-weight: normal;
        display: inline-block;
      }
    }
  }
}
