body.template-home {
  article {
    
    .about {
      @include span(6);

      @include breakpoint(map-get($breakpoints, small)) {
        @include span(last 12);
      }
    }

    .catalogue {
      @include span(last 6);
      padding: 6px 30px 10px 30px;

      button {
        @include button($color-blue-light);
        font-size: $font-size-large;
        position: relative;
        padding-right: 50px;

        &:after {
          color: white;
          content: "\25B6";
          display: block;
          position: absolute;
          right: 1em;
          top: 0.8em;
        }
      }

      p {
        margin-top: 1em;
        padding-right: 100px;
        color: $dark-gray;
      }

      @include breakpoint(map-get($breakpoints, small)) {
        @include span(last 12);
        padding: 10px 0px 10px 0px;

        p {
          padding-right: 0px;
        }
      }
    }

    .links {
      clear: both;
      padding-top: 2em;

      h2 {
        margin-top: 0.5em;
        margin-right: auto;
        margin-left: auto;
        padding-top: 1em;
        border-top: $base-border;      
        width: span(10);

        text-align: center;
        color: $action-color;
      }

      ul {
        @include thumbnail-links(4);
        margin-top: 0.5em;
      }
    }
  }
}
