$text-color: #444444;
$link-color: #004e93;
$link-color-light: #009fee;
$heading-color: #af1f21;

$color-background-gray: #eeeeee;
$color-border: #cccccc;

$header-height: 105px;

body {
  font-family: "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;

  a {
    color: $link-color;
  }
}

// Header

header#grp-header #grp-navigation {
  background: none;
  background-image: url('/static/images/background.jpg');
  background-size: cover;
  color: $text-color;

  a {
    color: $link-color-light;
    &:hover {
      color: darken($link-color-light, 10%);
    }
  }

  div#grp-branding {
    max-height: $header-height;
    margin-left: 0;

    .logo {
      margin: 10px 0 15px 0;
    }
  }

  h1#grp-admin-title {
    position: absolute;
    bottom: 8px;
    left: 120px;

    font-size: 1.4em;
    font-weight: normal;
  }

  ul#grp-user-tools {
    position: absolute;
    bottom: 5px;
    right: 10px;
    border-left: none;

    >li {
      border-left: none;
    }
  }

  ul li.grp-collapse.grp-open>ul {
    background-color: $color-background-gray;
    border: solid 1px $color-border;

    >li {
      border-top: none;
      border-bottom: solid 1px $color-border;
    }
  }
}

// Article

#grp-content {
  top: $header-height + 40px;

  h1 {
    padding-top: 0;
    padding-bottom: 20px;
    font-size: 2.6em;
    font-weight: normal;
    color: $heading-color;
  }

  .grp-group {
    border-width: 1px;
    border-radius: 0;
  }

  .grp-collapse h3.grp-collapse-handler {
    text-shadow: none;
  }
}
