{% extends 'executive/executive-base.html' %}

{% block title %}Cell line {{ cellline.name }}{% endblock %}

{% block page-content %}

{% if perms.auth.can_manage_executive_dashboard %}

<h1>{{ cellline.name }} <small>{{ cellline.biosamples_id }}</small></h1>

<p class="back-link"><a href="{% url 'executive:cellline' cellline.name %}"><i class="glyphicon glyphicon-chevron-left"></i> Back to cell line page</a></p>

<h2 class="no-margin">Create a new batch</h2>

<span style="display: none">{{ biosamples_hash }}</span>
<p>By submitting the form below, you will create <b>Biosample accessions</b> for a new batch and vials contained in this batch.</p>

<p>You can access the created Biosample IDs via:
  <ul class="bulleted-ul">
    <li>FTP site where they will be available for import to LIMS (<i>within 24 hours</i>).</li>
    <li>Printer friendly .csv file accessible alongside cell line batch data in the Executive dashboard.</li>
  </ul>
</p>

<hr>

<form method="post">
    {% csrf_token %}
    <table class="form">
    {{ new_batch_form }}
    <tr>
        <td></td>
        <td>
          <p><input type="submit" value="Create batch"></p>
          <p><span class="helptext">The accession process will take about a minute.</span></p>
          <p><span class="helptext">Please be patient and do not resubmit the data.</span></p>
          <p><span class="helptext">You will receive a message when the process is complete.</span></p>
        </td>
    </tr>
    </table>
</form>

{% else %}
<p><i>You do not have permission to access this page.</i></p>
{% endif %}

{% endblock %}
