{% load thumbnail %}

<h2>Batches</h2>

{% if perms.auth.can_view_executive_dashboard %}
<div class="request-bisample-ids"><a href="{% url 'executive:new_batch' cellline.name %}">Create a new batch</a> <small>(request new batch and vial Biosample IDs)</small></div>
{% endif %}

{% if cellline.batches.all|length %}
<ul class="accordion">
{% for batch in cellline.batches.all reversed %}
<li><a href="javascript:void(0)" class="js-accordion-trigger">{% if batch.batch_id == batch.biosamples_id %}{% else %}<b>{{ batch.batch_id }}</b> - {% endif %}{{ batch.biosamples_id }} - {{ batch.aliquots.all.count }} vials - <small>{{ batch.get_batch_type_display }}</small> <i class="glyphicon glyphicon-chevron-down"></i></a>
    <div class="content">
    {% if batch.batch_id and batch.batch_id != batch.biosamples_id %}

        <div class="link-to-biosample-ids-file">
            <a href="{% url 'executive:batch_data' cellline.name batch.biosamples_id %}"><i class="glyphicon glyphicon-download"></i>Download vial Biosample IDs file</a>
        </div>

        {% if batch.certificate_of_analysis %}
        <div class="certificate-of-anlysis">
            <a href="{{ batch.certificate_of_analysis.url }}"><i class="glyphicon glyphicon-file"></i>Certificate of analysis</a>
        </div>
        {% endif %}

        <h3>Inventory</h3>
        {% if batch.vials_at_roslin or batch.vials_shipped_to_ecacc or batch.vials_shipped_to_fraunhoffer %}
        <div>Vials at Roslin: {{ batch.vials_at_roslin|default_if_none:"-" }}</div>
        <div>Vials shipped to ECACC: {{ batch.vials_shipped_to_ecacc|default_if_none:"-" }}</div>
        <div>Vials shipped to Fraunhoffer: {{ batch.vials_shipped_to_fraunhoffer|default_if_none:"-" }}</div>
        {% else %}
        <p><span class="comment">No data available.</span></p>
        {% endif %}

        <h3>Culture conditions</h3>
        {% if batch.batchcultureconditions %}
        <div>Medium: {{ batch.batchcultureconditions.culture_medium|default_if_none:"-" }}</div>
        <div>Passage method: {{ batch.batchcultureconditions.passage_method|default_if_none:"-" }}</div>
        <div>Matrix: {{ batch.batchcultureconditions.matrix|default_if_none:"-" }}</div>
        <div>CO2 concentration: {{ batch.batchcultureconditions.co2_concentration|default_if_none:"-" }}</div>
        <div>O2 concentration: {{ batch.batchcultureconditions.o2_concentration|default_if_none:"-" }}</div>
        <div>Temperature: {{ batch.batchcultureconditions.temperature|default_if_none:"-" }}</div>
        {% else %}
        <p><span class="comment">No data available.</span></p>
        {% endif %}

        {% if batch.images.all %}
        <h3>Images</h3>
        <div class="cellline-batch-images">
            {% for image in batch.images.all %}
            <div class="image-with-caption">
                {% thumbnail image.image "250" as img %}
                <a href="{{ image.image.url }}"><img src="{{ img.url }}" width="{{ img.width }}" height="{{ img.height }}"></a>
                {% endthumbnail %}
                <div class="caption">
                    <div>Timepoint: {{ image.time_point }}</div>
                    <div>Magnification: {{ image.magnification }}</div>
                </div>
            </div>
            {% endfor %}
        </div>
        {% endif %}

    {% else %}
    <p><span class="comment">No data available.</span></p>
    {% endif %}

    </div>
</li>
{% endfor%}
</ul>
{% else %}
<p><span class="comment">Cell line has no batches.</span></p>
{% endif %}
