<table class="general-info data">
    {% include 'catalog/__cellline_data_general_executive__.html' %}

    {% if cellline.derived_from or cellline.derived_cell_lines.all or relatives or same_donor_lines %}
    <tr><th class="sub-title"><h3>Related lines</h3></th><th></th></tr>

    {% if cellline.derived_from %}
    <tr>
      <td class="label">Derived from:</td>
      <td><a href="{% url 'executive:cellline' cellline.derived_from.name %}">{{ cellline.derived_from.name }}</a></td>
    </tr>
    {% endif %}

    {% if cellline.derived_from.derived_cell_lines.all %}
    <tr>
      <td class="label">All subclones of {{ cellline.derived_from.name }}:</td>
      <td>
        {% for line in cellline.derived_from.derived_cell_lines.all %}
        <a href="{% url 'executive:cellline' line.name %}">{{ line.name }}</a>{% if forloop.last %}{% else %}, {% endif %}
        {% endfor %}
      </td>
    </tr>
    {% endif %}

    {% if cellline.derived_cell_lines.all %}
    <tr>
      <td class="label">Subclones:</td>
      <td>{% for line in cellline.derived_cell_lines.all %}<a href="{% url 'executive:cellline' line.name %}">{{ line.name }}</a>{% if forloop.last %}{% else %}, {% endif %}{% endfor %}</td>
    </tr>
    {% endif %}

    {% if same_donor_lines %}
    <tr>
      <td class="label">From the same donor:</td>
      <td>{% for line in same_donor_lines %}<a href="{% url 'executive:cellline' line.name %}">{{ line.name }}</a>{% if forloop.last %}{% else %}, {% endif %}{% endfor %}</td>
    </tr>
    {% endif %}

    {% if relatives %}
    <tr>
      <td class="label">Lines from donor's relatives:</td>
      <td>
        {% for relative in relatives %}
        <p>{{ relative.relation }} <span class="comment">( disease status:
              {% if relative.related_donor.diseases.all %}
              {% for disease in relative.related_donor.diseases.all %}
              {% include 'catalog/__cellline_data_related_lines_disease__.html' %}
              {% if not forloop.last %}; {% endif %}{% endfor %}{% endif %})</span>
          <br/>{% for line in relative.related_donor.cellline_set.all %}
          <a href="{% url 'executive:cellline' line.name %}">{{ line.name }}</a>{% if forloop.last %}{% else %}, {% endif %}
        {% endfor %}</p>
        {% endfor %}
      </td>
    </tr>
    {% endif %}
    {% endif %}

    {% include 'catalog/__cellline_data_derivation__.html' %}
    {% include 'catalog/__cellline_data_culture_conditions__.html' %}
    {% include 'catalog/__cellline_data_characterization__.html' %}
    {% include 'catalog/__cellline_data_genotyping_executive__.html' %}
</table>
