{% load i18n %}

<div class="accepted-status">
{% if cellline.celllineaccepted == 'accepted' %}
<span class="accepted-label">{{ cellline.get_celllineaccepted_display }}</span>
{% else %}
<form class="accepted" method="post" action="{% url 'executive:accept' cellline.biosamplesid %}">
    {% csrf_token %}
    <input type="hidden" name="next" value="{{ request.get_full_path }}">
    {% if cellline.celllineaccepted == 'pending' %}
    <select name="action" class="pending">
        {% for choice in cellline.ACCEPTED_CHOICES %}
        <option value="{{ choice.0 }}">{{ choice.1 }}</option>
        {% endfor %}
    </select>
    {% elif cellline.celllineaccepted == 'rejected' %}
    <select name="action" class="rejected">
        <option value="rejected">{% trans 'Rejected' %}</option>
        <option value="accepted">{% trans 'Accepted' %}</option>
    </select>
    {% endif %}
</form>
{% endif %}
</div>