{% load i18n %}

<div class="availability-status">

    {% if perms.site.can_manage_executive_dashboard %}

        <form class="availability" method="post" action="{% url 'executive:availability' cellline.biosamples_id %}">
            {% csrf_token %}

            <input type="hidden" name="next" value="{{ request.get_full_path }}">
            <input type="hidden" name="name" value="{{ cellline.name }}">
            <input type="hidden" name="status" value="{{ cellline.availability }}">

            <select name="action" class="{% if cellline.availability == 'not_available' %}not-available{% elif cellline.availability == 'expand_to_order' %}expand-to-order{% else %}at-ecacc{% endif %}">
                {% for choice in cellline.AVAILABILITY_CHOICES %}
                {% if choice.0 == cellline.availability %}
                <option value="{{ choice.0 }}" selected>{{ choice.1 }}</option>
                {% else %}
                <option value="{{ choice.0 }}">{{ choice.1 }}</option>
                {% endif %}
                {% endfor %}
            </select>

        </form>

    {% else %}

        {% if cellline.availability == 'at_ecacc' %}
        <span class="status-label at-ecacc">{{ cellline.get_availability_display }}</span>
        {% elif cellline.availability == 'not_available' %}
        <span class="status-label not-available">{{ cellline.get_availability_display }}</span>
        {% elif cellline.availability == 'expand_to_order' %}
        <span class="status-label expand-to-order">{{ cellline.get_availability_display }}</span>
        {% endif %}

    {% endif %}

</div>
