{% extends 'base.html' %}

{% block title %}Cell line {{ cellline.celllinename }}{% endblock %}

{% block article %}

<h1>Executive dashboard <small>Cell line {{ cellline.celllinename }}</small></h1>

<div class="status">
    {% if cellline.celllineaccepted == 'accepted' %}
    Status:
    {% else %}
    Change status:
    {% endif %}
    {% include 'executive/accepted-form.html' %}
</div>

{% include 'search/__cellline_data__.html' %}

{% endblock %}

{% block extra-scripts %}
{% include 'executive/accepted-script.html' %}
{% endblock %}
