{% extends 'base.html' %}

{% block title %}Cell line {{ cellline.celllinename }}{% endblock %}

{% block article %}

<h1>{{ cellline.celllinename }} <small>{{ cellline.biosamplesid }}</small></h1>

<div class="status">
    {% if cellline.celllineaccepted == 'accepted' or not perms.site.can_manage_executive_dashboard %}
    Status:
    {% else %}
    Change status:
    {% endif %}
    {% include 'executive/accepted-status.html' %}
</div>

<div class="batches">
    <h2>Batches</h2>

    <div class="request-bisample-ids"><a href="./">Request new batch and vial Biosample IDs</a></div>

    {% if cellline.batches.all|length %}
    <ul class="accordion">
    {% for batch in cellline.batches.all %}
    <li><a href="javascript:void(0)" class="js-accordion-trigger"><b>{{ batch.batch_id }}</b> - {{ batch.biosamplesid }} <small>({{ batch.aliquots.all.count }} vials)</small> <i class="glyphicon glyphicon-chevron-down"></i></a>
        <div class="content">
        {% if batch.passage_number %}
        <p>Passage number: {{ batch.passage_number }}<br/>
        Cells per vial: {{ batch.cells_per_vial }}<br/>
        {% else %}
        <p><span class="comment">No data available.</span></p>
        {% endif %}

        <div class="link-to-biosample-ids-file"><a href="{% url 'executive:batch_data' cellline.biosamplesid batch.biosamplesid %}"><i class="glyphicon glyphicon-download"></i>Download vial Biosample IDs file</a></div>
        </div>
    </li>
    {% endfor%}
    </ul>
    {% else %}
    <p><span class="comment">Cell line has no batches.</span></p>
    {% endif %}

</div>

{% include 'search/__cellline_data__.html' %}

{% endblock %}

{% block extra-scripts %}
{% if perms.site.can_manage_executive_dashboard %}
{% include 'executive/accepted-script.html' %}
{% endif %}
<script>
$('.js-accordion-trigger').bind('click', function(e){
  jQuery(this).parent().find('.content').slideToggle('fast');  // apply the toggle to the ul
  jQuery(this).parent().toggleClass('is-expanded');
  e.preventDefault();
});
</script>
{% endblock %}
