{% extends 'base.html' %}

{% block title %}Cell line {{ cellline.name }}{% endblock %}

{% block article %}

<h1>{{ cellline.name }} <small>{{ cellline.biosamples_id }}</small></h1>

<div class="status">
    <div class="cell-line-overview">
        <div>
            <div class="header">Registration</div>
            <div class="data">
                {% if cellline.validated == '1' %}<i class="glyphicon glyphicon-ok success"></i>
                {% elif cellline.validated == '2' %}<i class="glyphicon glyphicon-ok success"></i><i class="glyphicon glyphicon-minus error"></i>
                {% else %}<i class="glyphicon glyphicon-minus error"></i>{% endif %}
                 {{ cellline.get_validated_display }}
            </div>
        </div>
        <div>
            <div class="header">Availability</div>
            <div class="data">
                {% if not perms.auth.can_manage_executive_dashboard %}
                    {% if cellline.availability == 'not_available' %}
                    <i class="glyphicon glyphicon-minus error"></i>
                    {% else %}
                    <i class="glyphicon glyphicon-ok success"></i>
                    {% endif %}
                {% endif %}
                {% include 'executive/availability-status.html' %}
            </div>
        </div>
    </div>
</div>

<ul class="accordion-tabs-minimal">
    <li class="tab-header-and-content batches" data-section="batch-data">
        <a href="#" class="tab-link">Batch data</a>
        <div class="tab-content">
            {% include 'executive/__batch-data__.html' %}
        </div>
    </li>
    <li class="tab-header-and-content" data-section="depositor-data">
        <a href="#" class="tab-link">Depositor data</a>
        <div class="tab-content">
            {% include 'executive/__depositor-data__.html' %}
        </div>
    </li>
    <li class="tab-header-and-content" data-section="documents">
        <a href="#" class="tab-link">Documents</a>
        <div class="tab-content">
            {% include 'executive/__documents__.html' %}
        </div>
    </li>
</ul>

{% endblock %}

{% block extra-scripts %}
{% if perms.auth.can_manage_executive_dashboard %}
    {% include 'executive/availability-script.html' %}
{% endif %}
{% endblock %}
