{% extends 'base.html' %}

{% load i18n %}

{% block title %}Executive Dashboard{% endblock %}

{% block article %}

<h1>Executive dashboard <small>Cell Lines</small></h1>

<table class="dashboard">

    <thead>
        <tr>            
            <th><a href="?sort=biosamplesID">Biosamples ID</a></th>
            <th><a href="?sort=cellLineName">Cell line Name</a></th>
            <th><a href="?sort=disease">Disease</a></th>
            <th><a href="?sort=registrationDate">Date of Registration</a></th>            
            <th><a href="?sort=depositor">Depositor</a></th>            
            <th><a href="?sort=quantity">QTY</a></th>            
            <th><a href="?sort=sold">Sold</a></th>            
            <th><a href="?sort=accepted">Accepted</a></th>            
        </tr>
    </thead>

    <tbody>
        {% for cellline in celllines %}
        <tr class="accepted-{{ cellline.celllineaccepted }}">
            <td><a href="{% url 'executive:cellline' cellline.biosamplesid %}">{{ cellline.biosamplesid }}</a></td>
            <td>{{ cellline.celllinename }}</td>
            <td>{{ cellline.celllineprimarydisease }}</td>
            <td>{{ cellline.registration_name }}</td>
            <td>{{ cellline.celllineorganization.organization }}</td>
            <td class="number {{ cellline.quantity|default:'empty' }}">{{ cellline.quantity|default:'-' }}</td>
            <td class="number {{ cellline.sold|default:'empty' }}">{{ cellline.sold|default:'-' }}</td>
            <td class="accepted">
                {% if cellline.celllineaccepted == 'accepted' %}
                <span>{{ cellline.get_celllineaccepted_display }}</span>
                {% else %}
                <form method="post" action="{% url 'executive:accept' cellline.biosamplesid %}">
                    {% csrf_token %}
                    {% if cellline.celllineaccepted == 'pending' %}
                    <select name="action">
                        {% for choice in cellline.ACCEPTED_CHOICES %}
                        <option value="{{ choice.0 }}">{{ choice.1 }}</option>
                        {% endfor %}
                    </select>
                    {% elif cellline.celllineaccepted == 'rejected' %}
                    <select name="action">
                        <option value="rejected">{% trans 'Rejected' %}</option>
                        <option value="accepted">{% trans 'Accepted' %}</option>
                    </select>
                    {% endif %}
                </form>
                {% endif %}
            </td>
        </tr>
        {% endfor %}
    </tbody>

</table>

{% endblock %}

{% block extra-scripts %}
<script>
    $(document).ready(function () {
        $('.dashboard .accepted select').change(function (e) {
            this.form.submit();
        });
    });
</script>
{% endblock %}

