{% extends 'base.html' %}

{% load i18n %}

{% block title %}Executive Dashboard{% endblock %}

{% block article %}

<h1>Executive dashboard</h1>

<div class="status">
    <div class="cell-line-overview">
        <div>
            <div class="header">Registration</div>
            <div class="data">
                <div><span class="count">{{ celllines_registered.count }}</span> Registered</div>
                <div><span class="count">{{ celllines_validated.count }}</span> Validated</div>
            </div>
        </div>
        <div>
            <div class="header">Availability</div>
            <div class="data">
                <div><span class="count">{{ celllines_for_sale.count }}</span> At ECACC</div>
                <div><span class="count">n/a</span> Expand to order</div>
            </div>
        </div>
        <div>
            <div class="header">Sales</div>
            <div class="data">
                <div><span class="count">n/a</span> Vials sold</div>
            </div>
        </div>
    </div>
</div>

<h2>Registered cell lines</h2>

<table class="listing">

    <thead>
        <tr>
            {% for column in columns %}
            <th{% if sort_column == column.0 %} class="order-by {{ sort_order }}"{% endif %}>
                {% if column.2 %}
                <a class="sort" href="?sc={{ column.0 }}{% if sort_column == column.0 %}{% if sort_order == 'asc' %}&so=desc{% endif %}{% endif %}">{{ column.1 }}</a>
                {% else %}
                {{ column.1 }}
                {% endif %}
            </th>
            {% endfor %}
        </tr>
    </thead>

    <tbody>
        {% for cellline in celllines %}
        <tr class="accepted-{{ cellline.accepted }}">
            <td><a href="{% url 'executive:cellline' cellline.biosamples_id %}">{{ cellline.name }}</a></td>
            <!-- <td class="name">{{ cellline.name }}</td> -->
            <!-- <td>{{ cellline.alternative_names }}</td> -->
            <td>{{ cellline.primary_disease|default_if_none:"normal" }}</td>
            <td>{{ cellline.generator.name }}</td>
            <td class="validation">
                {% if cellline.validated == '1' %}
                <div class="tooltip-item">
                    <i class="glyphicon glyphicon-ok success"></i>
                    <div class="tooltip">
                        {{ cellline.get_validated_display }}
                    </div>
                </div>
                {% elif cellline.validated == '2' %}
                <div class="tooltip-item">
                    <i class="glyphicon glyphicon-ok success"></i>
                    <i class="glyphicon glyphicon-minus error"></i>
                    <div class="tooltip">
                        {{ cellline.get_validated_display }}
                    </div>
                </div>
                {% else %}
                <div class="tooltip-item">
                    <i class="glyphicon glyphicon-minus error"></i>
                    <div class="tooltip">
                        {{ cellline.get_validated_display }}
                    </div>
                </div>
                {% endif %}
            </td>
            <td class="number">{{ cellline.batches.count }}</td>
            <td class="number"><span class="comment">{{ cellline.quantity|default:'n/a' }}</span></td>
            <td class="number"><span class="comment">{{ cellline.sold|default:'n/a' }}</span></td>
            <td class="cellline-status">
                {% if cellline.available_for_sale %}
                <span class="for-sale">For sale</span>
                {% else %}
                Not available
                {% endif %}
            </td>
            <!-- <td class="accepted">{% include 'executive/accepted-status.html' %}</td> -->
        </tr>
        {% endfor %}
    </tbody>

</table>

<div class="pagination">
    Page:
    <ul>
        <li>
            <ul>
                {% for p in celllines.paginator.page_range %}
                <li><a class="{% if p == page %}active{% endif %}" href="?page={{ p }}{% if sort_column %}&sc={{ sort_column }}&so={{ sort_order }}{% endif %}">{{ p }}</a></li>
                {% endfor %}
            </ul>
        </li>
    </ul>
</div>

{% endblock %}

{% block extra-scripts %}
{% if perms.site.can_manage_executive_dashboard %}
{% include 'executive/accepted-script.html' %}
{% endif %}
{% endblock %}
