<tr><th colspan="2" class="title" id="genotyping"><h2>Genotyping</h2></th></tr>

    {% include 'catalog/__cellline_data_karyotyping__.html' %}

    {% if cellline.str_fingerprinting.all|length or cellline.genome_analysis %}

    {% if cellline.str_fingerprinting.all|length %}
    <tr>
        <td class="label">STR/Fingerprinting:</td>
        <td>
            <table>
                <tr>
                    <th>Locus</th>
                    <th>Allele 1</th>
                    <th>Allele 2</th>
                </tr>
                {% for locus in cellline.str_fingerprinting.all %}
                <tr>
                    <td>{{ locus.locus }}</td>
                    <td class="center">{{ locus.allele1 }}</td>
                    <td class="center">{{ locus.allele2 }}</td>
                </tr>
                {% endfor %}
            </table>
        </td>
    </tr>
    {% endif %}

    {% if cellline.genome_analysis.all %}
    <tr>
        <td class="label">Genome-wide analysis:</td>
        <td>
            {% for analysis in cellline.genome_analysis.all %}
              <p>{{ analysis.analysis_method }}
              {% if analysis.link %}<br/><a href="{{ analysis.link }}" target="_blank">{{ analysis.link }}</a>{% endif %}</p>
            {% endfor %}
        </td>
    </tr>
    {% endif %}

    {% endif %}

    {% include 'catalog/__cellline_data_genetic_modification__.html' %}
