{% if cellline.derived_from or cellline.derived_cell_lines.all or cellline.comparator_cell_line or cellline.comparator_cell_lines.all or same_donor_lines %}
<tr><th colspan="2" class="title"><h2>Related lines</h2></th></tr>

{% if cellline.derived_from %}
<tr>
  <td class="label">Derived from:</td>
  <td>
    {% if cellline.derived_from.available_for_sale_at_ecacc == True %}
    <a href="{% url 'site:page' cellline.derived_from.name %}">{{ cellline.derived_from.name }}</a>
    {% else %}
    {{ cellline.derived_from.name }}
    {% endif %}
  </td>
</tr>
{% endif %}

{% if cellline.derived_from.derived_cell_lines.all %}
<tr>
  <td class="label">All subclones of {{ cellline.derived_from.name }}:</td>
  <td>
    {% for line in cellline.derived_from.derived_cell_lines.all %}
    {% if line.available_for_sale_at_ecacc == True %}
    <a href="{% url 'site:page' line.name %}">{{ line.name }}</a>{% if forloop.last %}{% else %}, {% endif %}
    {% endif %}
    {% endfor %}
  </td>
</tr>
{% endif %}

{% if cellline.comparator_cell_line and cellline.comparator_cell_line.available_for_sale_at_ecacc == True or cellline.comparator_cell_lines.all %}
<tr>
  <td class="label">Comparator lines from relatives:</td>
  <td>
    {% if cellline.comparator_cell_line and cellline.comparator_cell_line.available_for_sale_at_ecacc == True %}
    <a href="{% url 'site:page' cellline.comparator_cell_line.name %}">{{ cellline.comparator_cell_line.name }}</a><span class="comment"> - disease status: {% if cellline.comparator_cell_line.primary_disease %}{{ cellline.comparator_cell_line.primary_disease }}{% else %}Normal{% endif %}{% if cellline.comparator_cell_line.affected_status %}, {{ cellline.comparator_cell_line.affected_status }}{% endif %}{% if cellline.comparator_cell_line_relation %} ({{ cellline.comparator_cell_line_relation }}){% endif %}</span>
    {% endif %}
    {% if cellline.comparator_cell_line and cellline.comparator_cell_lines.all %}<br/>{% endif %}
    {% if cellline.comparator_cell_lines.all %}
    {% for line in cellline.comparator_cell_lines.all %}
    {% if line.available_for_sale_at_ecacc == True %}
    <a href="{% url 'site:page' line.name %}">{{ line.name }}</a> <span class="comment"> - disease status: {% if line.primary_disease %}{{ line.primary_disease }}{% else %}Normal{% endif %}{% if line.affected_status %}, {{ line.affected_status }}{% endif %}</span>{% if forloop.last %}{% else %}<br/>{% endif %}
    {% endif %}
    {% endfor %}
    {% endif %}
  </td>
</tr>
{% endif %}

{% if same_donor_lines %}
<tr>
  <td class="label">From the same donor:</td>
  <td>{% for line in same_donor_lines %}<a href="{% url 'site:page' line.name %}">{{ line.name }}</a>{% if forloop.last %}{% else %}, {% endif %}{% endfor %}</td>
</tr>
{% endif %}
{% endif %}
