<tr><th colspan="2" class="title"><h2>Disease status</h2></th></tr>

{% include 'catalog/__diseases__.html' %}

<tr><th colspan="2" class="title"><h2>Donor information</h2></th></tr>
<!-- <tr><th class="sub-title"><h3>Donor information</h3></th><th></th></tr> -->
{% if cellline.donor.gender %}
<tr><td class="label">Gender:</td><td>{{ cellline.donor.gender|capfirst }}</td></tr>
{% endif %}
{% if cellline.donor_age %}
<tr><td class="label">Age:</td><td>{{ cellline.donor_age }}</td></tr>
{% endif %}
{% if cellline.donor.country_of_origin %}
<tr><td class="label">Country of origin:</td><td>{{ cellline.donor.country_of_origin }}</td></tr>
{% endif %}
{% if cellline.donor.ethnicity %}
<tr><td class="label">Ethnicity:</td><td>{{ cellline.donor.ethnicity|capfirst }}</td></tr>
{% endif %}
{% if cellline.donor.karyotype %}
<tr><td class="label">Donor karyotype:</td><td>{{ cellline.donor.karyotype }}</td></tr>
{% endif %}

<tr><th colspan="2" class="title"><h2>General information</h2></th></tr>
<!-- <tr><th class="sub-title"><h3>General</h3></th><th></th></tr> -->

<tr><td class="label">Depositor:</td><td>{{ cellline.generator.name|default:"-" }}</td></tr>
<tr><td class="label">Cell line name:</td><td>{{ cellline.name|default:"-" }}</td></tr>
<tr><td class="label">Cell line alternative names:</td><td>{{ cellline.alternative_names|default:"-" }}</td></tr>
<tr><td class="label">Biosamples ID:</td><td><a href="http://www.ebi.ac.uk/biosamples/sample/{{ cellline.biosamples_id }}" target="_blank">{{ cellline.biosamples_id }}</a></td></tr>

{% if cellline.derivation_country %}
<tr><td class="label">Derivation country:</td><td>{{ cellline.derivation_country }}</td></tr>
{% endif %}

{% if cellline.publications.all|length %}
<tr>
    <td class="label">Reference publications:</td>
    <td>
        <ul>
            {% for pub in cellline.publications.all %}
            <li><a href="{{ pub.reference_url }}">{{ pub.reference_title }}</a></li>
            {% endfor%}
        </ul>
    </td>
</tr>
{% endif %}
