{% if disease.disease or disease.disease_not_normalised %}
  {% if disease.disease %}
  {{ disease.disease.name }}
  {% elif disease.disease_not_normalised %}
  {{ disease.disease_not_normalised }}
  {% endif %}
  {% if disease.notes %}<br/>{{ disease.notes }}{% endif %}
{% else %}
{% if disease.notes %}{{ disease.notes }}{% else %}/{% endif %}
{% endif %}

{% if disease.affected_status %}
<br/><span class="light-gray small">Affected:</span> {% if disease.affected_status == 'True' %}Yes{% elif disease.affected_status == 'False' %}No{% else %}Unknown{% endif %}
{% endif %}

{% if disease.carrier %}
<br/><span class="light-gray small">Carrier:</span> {% if disease.carrier == 'True' %}Yes{% elif disease.carrier == 'False' %}No{% else %}Unknown{% endif %}
{% endif %}

{% if disease.disease_stage %}
<br/><span class="light-gray small">Disease stage:</span> {{ disease.disease_stage|capfirst }}
{% endif %}


<!-- <tr>
  <td class="label">Disease:</td>
  <td>
    {% if disease.disease or disease.disease_not_normalised %}
      {% if disease.disease %}
      {{ disease.disease.name }}
      {% elif disease.disease_not_normalised %}
      {{ disease.disease_not_normalised }}
      {% endif %}
      {% if disease.notes %}<br/>{{ disease.notes }}{% endif %}
    {% else %}
    {% if disease.notes %}{{ disease.notes }}{% else %}/{% endif %}
    {% endif %}
  </td>
</tr>
{% if disease.affected_status %}
<tr>
  <td class="label">Affected status:</td>
  <td>{% if disease.affected_status == 'True' %}Affected{% elif disease.affected_status == 'False' %}Not affected{% else %}Unknown{% endif %}</td>
</tr>
{% endif %}

{% if disease.disease_stage %}
<tr><td class="label">Disease stage:</td><td>{{ disease.disease_stage|capfirst }}</td></tr>
{% endif %}

{% if disease.carrier %}
<tr><td class="label">Carrier:</td><td>{{ disease.carrier|capfirst }}</td></tr>
{% endif %} -->
