<tr><th colspan="2" class="title" id="genotyping"><h2>Genotyping</h2></th></tr>

    {% include 'catalog/__cellline_data_karyotyping__.html' %}

    {% if cellline.genome_analysis or cellline.current_status.status == 'at_ecacc' %}
    <tr><th class="sub-title"><h3>Genotyping</h3></th><th></th></tr>

    {% if cellline.genome_analysis %}
    <tr>
        <td class="label">Genome-wide analysis:</td>
        <td>
            {% if cellline.genome_analysis.data %}{{ cellline.genome_analysis.data }}{% endif %}
            {% if cellline.genome_analysis.data and cellline.genome_analysis.link %}<br/>{% endif %}
            {% if cellline.genome_analysis.link %}<a href="{{ cellline.genome_analysis.link }}">{{ cellline.genome_analysis.link }}</a>{% endif %}</td>
    </tr>
    {% endif %}

    {% if cellline.current_status.status == 'at_ecacc' %}
    <tr>
        <td class="label">STR/Fingerprinting:</td>
        <td>A 16 allele profile has been recorded and data is available upon request, after cell line purchase.</td>
    </tr>
    {% endif %}

    {% endif %}

    {% include 'catalog/__cellline_data_genetic_modification__.html' %}
