<tr><th colspan="2" class="title" id="derivation"><h2>Derivation</h2></th></tr>

<tr><td class="label">Primary cell type:</td><td>{{ cellline.derivation.primary_cell_type.name|capfirst|default:"-" }}</td></tr>

{% if cellline.derivation.primary_cellline %}
<tr><td class="label">Primary cell line name:</td><td>{{ cellline.derivation.primary_cellline }}</td></tr>
{% endif %}
{% if cellline.derivation.primary_cellline_vendor %}
<tr><td class="label">Primary cell line vendor:</td><td>{{ cellline.derivation.primary_cellline_vendor }}</td></tr>
{% endif %}
{% if cellline.derivation.primary_cell_developmental_stage %}
<tr><td class="label">Primary cell developmental stage:</td><td>{{ cellline.derivation.primary_cell_developmental_stage }}</td></tr>
{% endif %}
{% if cellline.derivation.tissue_procurement_location %}
<tr><td class="label">Location of primary tissue procurement:</td><td>{{ cellline.derivation.tissue_procurement_location|capfirst }}</td></tr>
{% endif %}
{% if cellline.derivation.tissue_collection_date %}
<tr><td class="label">Tissue collection date:</td><td>{{ cellline.derivation.tissue_collection_date }}</td></tr>
{% endif %}
{% if cellline.derivation.reprogramming_passage_number %}
<tr><td class="label">Passage number reprogrammed:</td><td>{{ cellline.derivation.reprogramming_passage_number }}</td></tr>
{% endif %}

<tr><th class="sub-title"><h3>Reprogramming method</h3></th><th></th></tr>

{% if cellline.integrating_vector %}
    <tr><td class="label">Vector type:</td><td>Integrating</td></tr>
    {% if cellline.integrating_vector.vector %}<tr><td class="label">Vector:</td><td>{{ cellline.integrating_vector.vector }}</td></tr>{% endif %}
    {% if cellline.integrating_vector.virus %}<tr><td class="label">Virus type:</td><td>{{ cellline.integrating_vector.virus }}</td></tr>{% endif %}
    {% if cellline.integrating_vector.transposon %}<tr><td class="label">Transposon:</td><td>{{ cellline.integrating_vector.transposon }}</td></tr>{% endif %}

    {% if cellline.integrating_vector.genes.all|length %}
    <tr>
        <td class="label">Gene list:</td>
        <td>
            <ul>
                {% for gene in cellline.integrating_vector.genes.all %}
                <li>{{ gene.name }}</li>
                {% endfor%}
            </ul>
        </td>
    </tr>
    {% endif %}

    {% if cellline.integrating_vector.excisable %}<tr><td class="label">Is the used vector excisable?:</td><td>{{ cellline.integrating_vector.excisable|yesno:"yes,no" }}</td></tr>{% endif %}
    {% if cellline.integrating_vector.absence_reprogramming_vectors %}<tr><td class="label">Absence of reprogramming vector(s):</td><td>{{ cellline.integrating_vector.absence_reprogramming_vectors|yesno:"yes,no" }}</td></tr>{% endif %}

    {% if cellline.integrating_vector.silenced %}
    <tr><td class="label">Have the reprogramming vectors been silenced:</td><td>{{ cellline.integrating_vector.get_detectable_display }}</td></tr>{% endif %}

    {% if cellline.integrating_vector.methods|length %}
    <tr><td class="label">Merthods used:</td><td>{{ cellline.integrating_vector.methods|join:", " }}</td></tr>{% endif %}

    {% if cellline.integrating_vector.silenced_notes %}
    <tr><td class="label">Notes on reprogramming vector silencing:</td><td>{{ cellline.integrating_vector.silenced_notes }}</td></tr>{% endif %}

    {% if cellline.integrating_vector.expressed_silenced_file %}
    <tr><td class="label">Files showing reprogramming vector expressed or silenced:</td><td><a href="{{ cellline.integrating_vector.expressed_silenced_file.url }}" target="_blank">Image / Result</a></td></tr>
    {% endif %}

    {% if cellline.integrating_vector.vector_map_file %}
    <tr><td class="label">Vector map:</td><td><a href="{{ cellline.integrating_vector.vector_map_file.url }}" target="_blank">File</a></td></tr>
    {% endif %}
{% endif %}

{% if cellline.non_integrating_vector %}
    <tr><td class="label">Vector type:</td><td>Non-integrating</td></tr>
    {% if cellline.non_integrating_vector %}<tr><td class="label">Vector:</td><td>{{ cellline.non_integrating_vector }}</td></tr>{% endif %}

    {% if cellline.non_integrating_vector.genes.all|length %}
    <tr>
        <td class="label">Gene list:</td>
        <td>
            <ul>
                {% for gene in cellline.non_integrating_vector.genes.all %}
                <li>{{ gene.name }}</li>
                {% endfor%}
            </ul>
        </td>
    </tr>
    {% endif %}

    {% if cellline.non_integrating_vector.detectable %}
    <tr><td class="label">Is the reprogramming vector detectable:</td><td>{{ cellline.non_integrating_vector.get_detectable_display }}</td></tr>{% endif %}

    {% if cellline.non_integrating_vector.methods|length %}
    <tr><td class="label">Merthods used:</td><td>{{ cellline.non_integrating_vector.methods|join:", " }}</td></tr>{% endif %}

    {% if cellline.non_integrating_vector.detectable_notes %}
    <tr><td class="label">Notes on reprogramming vector detection:</td><td>{{ cellline.non_integrating_vector.detectable_notes }}</td></tr>{% endif %}

    {% if cellline.non_integrating_vector.expressed_silenced_file %}
    <tr><td class="label">Files showing reprogramming vector expressed or silenced:</td><td><a href="{{ cellline.non_integrating_vector.expressed_silenced_file.url }}" target="_blank">Image / Result</a></td></tr>
    {% endif %}

    {% if cellline.non_integrating_vector.vector_map_file %}
    <tr><td class="label">Vector map:</td><td><a href="{{ cellline.non_integrating_vector.vector_map_file.url }}" target="_blank">File</a></td></tr>
    {% endif %}

{% endif %}

<tr><th class="sub-title"><h3>Derivation</h3></th><th></th></tr>

{% if cellline.celllinederivation.selection_criteria_for_clones %}
<tr><td class="label">Selection criteria for clones:</td><td>{{ cellline.celllinederivation.selection_criteria_for_clones }}</td></tr>
{% endif %}
<tr><td class="label">Xeno free conditions:</td><td>{{ cellline.celllinederivation.xeno_free_conditions|yesno:"yes,no"|default:"-" }}</td></tr>
<tr><td class="label">Derived under gmp:</td><td>{{ cellline.celllinederivation.derived_under_gmp|yesno:"yes,no"|default:"-" }}</td></tr>
<tr><td class="label">Available as clinical grade:</td><td>{{ cellline.celllinederivation.available_as_clinical_grade|yesno:"yes,no"|default:"-" }}</td></tr>
