<tr><th colspan="2" class="title" id="genetic-modification"><h2>Genetic modification</h2></th></tr>

<!-- New fields -->

{% if cellline.diseases.all or cellline.genetic_modification_cellline_variants.all or cellline.genetic_modification_cellline_isogenic.all or cellline.genetic_modification_cellline_transgene_expression.all or cellline.genetic_modification_cellline_gene_knock_out.all or cellline.genetic_modification_cellline_disease_gene_knock_in.all%}

<!-- Genetic modifications related to diseases -->

{% if cellline.diseases.all %}
<tr><th class="sub-title"><h3>Disease/phenotype related modifications</h3></th><th></th></tr>
{% for disease in cellline.diseases.all %}
{% include 'catalog/diseases/__cellline_data_disease__.html' %}
{% if not forloop.last %}<tr><td colspan="2">&nbsp;</td></tr>{% endif %}
{% endfor %}
{% endif %}

<!-- Genetic modifications not related to diseases -->

{% if cellline.genetic_modification_cellline_variants.all or cellline.genetic_modification_cellline_isogenic.all or cellline.genetic_modification_cellline_transgene_expression.all or cellline.genetic_modification_cellline_gene_knock_out.all or cellline.genetic_modification_cellline_disease_gene_knock_in.all %}

<tr><th class="sub-title"><h3>Modifications not associated with diseases</h3></th><th></th></tr>

<!-- Genetic modifications: Variant -->

{% if cellline.genetic_modification_cellline_variants.all %}
<tr>
    <td class="label">Type of modification:</td>
    <td><b>Variant</b></td>
</tr>
{% for variant in cellline.genetic_modification_cellline_variants.all %}
{% include 'catalog/diseases/__cellline_data_disease_variant__.html' %}
{% if not forloop.last %}<tr><td></td><td><hr></td></tr>{% endif %}
{% endfor %}
<tr><td colspan="2">&nbsp;</td></tr>
{% endif %}

<!-- Genetic modifications: Transgene expression -->

{% if cellline.genetic_modification_cellline_transgene_expression.all %}
<tr>
    <td class="label">Type of modification:</td>
    <td><b>Transgene expression</b></td>
</tr>
{% for variant in cellline.genetic_modification_cellline_transgene_expression.all %}
{% include 'catalog/diseases/__cellline_data_disease_modification_transgene__.html' %}
{% if not forloop.last %}<tr><td></td><td><hr></td></tr>{% endif %}
{% endfor %}
<tr><td colspan="2">&nbsp;</td></tr>
{% endif %}

<!-- Genetic modifications: Isogenic -->

{% if cellline.genetic_modification_cellline_isogenic.all %}
<tr>
    <td class="label">Type of modification:</td>
    <td><b>Isogenic</b></td>
</tr>
{% for variant in cellline.genetic_modification_cellline_isogenic.all %}
{% include 'catalog/diseases/__cellline_data_disease_modification_isogenic__.html' %}
{% if not forloop.last %}<tr><td></td><td><hr></td></tr>{% endif %}
{% endfor %}
<tr><td colspan="2">&nbsp;</td></tr>
{% endif %}

<!-- Genetic modifications: Gene knock-out -->

{% if cellline.genetic_modification_cellline_gene_knock_out.all %}
<tr>
    <td class="label">Type of modification:</td>
    <td><b>Gene knock-out</b></td>
</tr>
{% for variant in cellline.genetic_modification_cellline_gene_knock_out.all %}
{% include 'catalog/diseases/__cellline_data_disease_modification_gene_knock_out__.html' %}
{% if not forloop.last %}<tr><td></td><td><hr></td></tr>{% endif %}
{% endfor %}
<tr><td colspan="2">&nbsp;</td></tr>
{% endif %}

<!-- Genetic modifications: Gene knock-in -->

{% if cellline.genetic_modification_cellline_gene_knock_in.all %}
<tr>
    <td class="label">Type of modification:</td>
    <td><b>Gene knock-in</b></td>
</tr>
{% for variant in cellline.genetic_modification_cellline_gene_knock_in.all %}
{% include 'catalog/diseases/__cellline_data_disease_modification_gene_knock_in__.html' %}
{% if not forloop.last %}<tr><td></td><td><hr></td></tr>{% endif %}
{% endfor %}
<tr><td colspan="2">&nbsp;</td></tr>
{% endif %}

<!-- / New fields -->

{% endif %}

{% else %}

<!-- Old fields -->

{% if cellline.genetic_modification_transgene_expression or cellline.genetic_modification_gene_knock_out or cellline.genetic_modification_gene_knock_in or cellline.genetic_modification_isogenic %}
<tr><th class="sub-title"><h3>Modifications not associated with diseases</h3></th><th></th></tr>
    {% if cellline.genetic_modification_transgene_expression %}
        <tr>
            <td class="label">Type of modification:</td>
            <td><b>Transgene expression</b></td>
        </tr>

        {% if cellline.genetic_modification_transgene_expression.genes.all|length %}
        <tr>
            <td class="label">Genes:</td>
            <td>
                <ul>
                    {% for gene in cellline.genetic_modification_transgene_expression.genes.all %}
                    <li>{{ gene.name }}</li>
                    {% endfor%}
                </ul>
            </td>
        </tr>
        {% endif %}

        {% if cellline.genetic_modification_transgene_expression.delivery_method %}
        <tr>
            <td class="label">Delivery method:</td>
            <td>
                {{ cellline.genetic_modification_transgene_expression.delivery_method }}
                {% if cellline.genetic_modification_transgene_expression.virus %} - {{ cellline.genetic_modification_transgene_expression.virus }}{% endif %}
                {% if cellline.genetic_modification_transgene_expression.transposon %} - {{ cellline.genetic_modification_transgene_expression.transposon }}{% endif %}
            </td>
        </tr>
        {% endif %}
    {% endif %}

    {% if cellline.genetic_modification_gene_knock_out %}
        <tr>
            <td class="label">Type of modification:</td>
            <td><b>Gene knock-out</b></td>
        </tr>

        {% if cellline.genetic_modification_gene_knock_out.target_genes.all|length %}
        <tr>
            <td class="label">Target genes:</td>
            <td>
                <ul>
                    {% for gene in cellline.genetic_modification_gene_knock_out.target_genes.all %}
                    <li>{{ gene.name }}</li>
                    {% endfor%}
                </ul>
            </td>
        </tr>
        {% endif %}

        {% if cellline.genetic_modification_gene_knock_out.delivery_method %}
        <tr>
            <td class="label">Delivery method:</td>
            <td>
                {{ cellline.genetic_modification_gene_knock_out.delivery_method }}
                {% if cellline.genetic_modification_gene_knock_out.virus %} - {{ cellline.genetic_modification_gene_knock_out.virus }}{% endif %}
                {% if cellline.genetic_modification_gene_knock_out.transposon %} - {{ cellline.genetic_modification_gene_knock_out.transposon }}{% endif %}
            </td>
        </tr>
        {% endif %}
    {% endif %}

    {% if cellline.genetic_modification_gene_knock_in %}
        <tr>
            <td class="label">Type of modification:</td>
            <td><b>Gene knock-in</b></td>
        </tr>

        {% if cellline.genetic_modification_gene_knock_in.target_genes.all|length %}
        <tr>
            <td class="label">Target genes:</td>
            <td>
                <ul>
                    {% for gene in cellline.genetic_modification_gene_knock_in.target_genes.all %}
                    <li>{{ gene.name }}</li>
                    {% endfor%}
                </ul>
            </td>
        </tr>
        {% endif %}

        {% if cellline.genetic_modification_gene_knock_in.transgenes.all|length %}
        <tr>
            <td class="label">Transgenes:</td>
            <td>
                <ul>
                    {% for gene in cellline.genetic_modification_gene_knock_in.transgenes.all %}
                    <li>{{ gene.name }}</li>
                    {% endfor%}
                </ul>
            </td>
        </tr>
        {% endif %}

        {% if cellline.genetic_modification_gene_knock_in.delivery_method %}
        <tr>
            <td class="label">Delivery method:</td>
            <td>
                {{ cellline.genetic_modification_gene_knock_in.delivery_method }}
                {% if cellline.genetic_modification_gene_knock_in.virus %} - {{ cellline.genetic_modification_gene_knock_in.virus }}{% endif %}
                {% if cellline.genetic_modification_gene_knock_in.transposon %} - {{ cellline.genetic_modification_gene_knock_in.transposon }}{% endif %}
            </td>
        </tr>
        {% endif %}
    {% endif %}

    {% if cellline.genetic_modification_isogenic %}
        <tr>
            <td class="label">Type of modification:</td>
            <td><b>Isogenic modification</b></td>
        </tr>

        {% if cellline.genetic_modification_isogenic.target_locus.all|length %}
        <tr>
            <td class="label">Target loci:</td>
            <td>
                <ul>
                    {% for gene in cellline.genetic_modification_isogenic.target_locus.all %}
                    <li>{{ gene.name }}</li>
                    {% endfor%}
                </ul>
            </td>
        </tr>
        {% endif %}

        {% if cellline.genetic_modification_isogenic.change_type %}
        <tr>
            <td class="label">Type of change:</td>
            <td>{{ cellline.genetic_modification_isogenic.change_type }}</td>
        </tr>
        {% endif %}

        {% if cellline.genetic_modification_isogenic.modified_sequence %}
        <tr>
            <td class="label">Modified sequence:</td>
            <td>{{ cellline.genetic_modification_isogenic.modified_sequence }}</td>
        </tr>
        {% endif %}
    {% endif %}

{% endif %}

<!-- / Old fields -->

{% endif %}
