<tr><th colspan="2" class="title" id="genotyping"><h2>Genotyping</h2></th></tr>

    {% include 'catalog/__cellline_data_karyotyping__.html' %}

    {% if cellline.genome_analysis.all or cellline.current_status.status == 'at_ecacc' %}
    <tr><th class="sub-title"><h3>Genotyping</h3></th><th></th></tr>

    {% if cellline.genome_analysis.all %}
    <tr>
        <td class="label">Genome-wide analysis:</td>
        <td>
            {% for analysis in cellline.genome_analysis.all %}
              <p>{{ analysis.analysis_method }}
              {% if analysis.link %}<br/><a href="{{ analysis.link }}" target="_blank">{{ analysis.link }}</a>{% endif %}</p>
            {% endfor %}
        </td>
    </tr>
    {% endif %}

    {% if cellline.current_status.status == 'at_ecacc' %}
    <tr>
        <td class="label">STR/Fingerprinting:</td>
        <td>A 16 allele profile has been recorded and data is available upon request, after cell line purchase.</td>
    </tr>
    {% endif %}

    {% endif %}
