<tr><th colspan="2" class="title" id="characterization"><h2>Characterization</h2></th></tr>

{% if cellline.celllinecharacterization.certificate_of_analysis_passage_number %}
<tr><td class="label">Certificate of analysis passage number:</td><td>{{ cellline.celllinecharacterization.certificate_of_analysis_passage_number|default:"-" }}</td></tr>
{% endif %}

<tr>
    <td class="label">Microbiology / Virology Screening:</td>
    <td>
        <table>
            <tr>
                <td>HIV 1:</td>
                <td>{{ cellline.celllinecharacterization.get_screening_hiv1_display|default:"-" }}</td>
            </tr>
            <tr>
                <td>HIV 2:</td>
                <td>{{ cellline.celllinecharacterization.get_screening_hiv2_display|default:"-" }}</td>
            </tr>
            <tr>
                <td>Hepatitis B:</td>
                <td>{{ cellline.celllinecharacterization.get_screening_hepatitis_b_display|default:"-" }}</td>
            </tr>
            <tr>
                <td>Hepatitis C:</td>
                <td>{{ cellline.celllinecharacterization.get_screening_hepatitis_c_display|default:"-" }}</td>
            </tr>
            <tr>
                <td>Mycoplasma:</td>
                <td>{{ cellline.celllinecharacterization.get_screening_mycoplasma_display|default:"-" }}</td>
            </tr>
        </table>
    </td>
</tr>

{% if cellline.undifferentiated_morphology_marker_imune or cellline.undifferentiated_morphology_marker_facs or cellline.undifferentiated_morphology_marker_rtpcr or cellline.undifferentiated_morphology_marker_morphology or cellline.undifferentiated_morphology_marker_expression_profile or cellline.celllinecharacterizationpluritest %}
<tr><th class="sub-title"><h3>Undifferentiated cells</h3></th></tr>

<tr>
    <td class="label">Morphology and Marker expression:</td>
    <td>
        {% if cellline.undifferentiated_morphology_marker_imune %}
        <p><b>Immune/Markerstaining</b><br/>
        Passage number: {{ cellline.undifferentiated_morphology_marker_imune.passage_number|default:'-' }}</p>
        <table>
        {% for molecule in cellline.undifferentiated_morphology_marker_imune.molecules.all %}
        <tr><td>{{ molecule.molecule }}:</td><td class="center">{{ molecule.result }}</td></tr>
        {% endfor %}
        </table>
        {% endif %}

        {% if cellline.undifferentiated_morphology_marker_facs %}
        <p><br/><b>FACS</b><br/>
        Passage number: {{ cellline.undifferentiated_morphology_marker_facs.passage_number|default:'-' }}</p>
        <table>
        {% for molecule in cellline.undifferentiated_morphology_marker_facs.molecules.all %}
        <tr><td>{{ molecule.molecule }}:</td><td class="center">{{ molecule.result }}</td></tr>
        {% endfor %}
        </table>
        {% endif %}

        {% if cellline.undifferentiated_morphology_marker_rtpcr %}
        <p><br/><b>RT-PCR</b><br/>
        Passage number: {{ cellline.undifferentiated_morphology_marker_rtpcr.passage_number|default:'-' }}</p>
        <table>
        {% for molecule in cellline.undifferentiated_morphology_marker_rtpcr.molecules.all %}
        <tr><td>{{ molecule.molecule }}:</td><td class="center">{{ molecule.result }}</td></tr>
        {% endfor %}
        </table>
        {% endif %}

        {% if cellline.undifferentiated_morphology_marker_morphology %}
        <p><br/><b>Morphology</b><br/>
        Passage number: {{ cellline.undifferentiated_morphology_marker_morphology.passage_number|default:'-' }}<br/>
        Description: {{ cellline.undifferentiated_morphology_marker_morphology.description|default:'-' }}<br/>
        {% if cellline.undifferentiated_morphology_marker_morphology.data_url %}
        File: <a href="{{ cellline.undifferentiated_morphology_marker_morphology.data_url }}">Image</a>
        {% endif %}
        {% endif %}

        {% if cellline.undifferentiated_morphology_marker_expression_profile %}
        <p><br/><b>Expression profiles (Omics)</b><br/>
        Passage number: {{ cellline.undifferentiated_morphology_marker_expression_profile.passage_number|default:'-' }}<br/>
        Method: {{ cellline.undifferentiated_morphology_marker_expression_profile.method|default:'-' }}<br/>
        <table>
        {% for molecule in undifferentiated_morphology_marker_expression_profile.molecules.all %}
        <tr><td>{{ molecule.molecule }}:</td><td class="center">{{ molecule.result }}</td></tr>
        {% endfor %}
        </table>
        Data:
        {% if undifferentiated_morphology_marker_expression_profile.uploaded_data_url %}
            <a href="{{ cellline.undifferentiated_morphology_marker_expression_profile.uploaded_data_url }}">Data file</a>
        {% endif %}
        {% if undifferentiated_morphology_marker_expression_profile.uploaded_data_url and cellline.undifferentiated_morphology_marker_expression_profile.data_url %}, {% endif %}
        {% if cellline.undifferentiated_morphology_marker_expression_profile.data_url %}
            <a href="{{ cellline.undifferentiated_morphology_marker_expression_profile.data_url }}">Link</a>
        {% endif %}
        {% endif %}

    </td>
</tr>

{% if cellline.celllinecharacterizationpluritest and cellline.celllinecharacterizationpluritest.pluripotency_score %}
<tr>
  <td class="label">Pluritest assessment for pluripotency:</td>
  <td>
    Pluripotency score: {{ cellline.celllinecharacterizationpluritest.pluripotency_score }}
    {% if cellline.celllinecharacterizationpluritest.novelty_score %}
    <br/>Novelty score: {{ cellline.celllinecharacterizationpluritest.novelty_score }}
    {% endif %}
    {% if cellline.celllinecharacterizationpluritest.microarray_url %}
    <br/>Microarray data: <a href="{{ cellline.celllinecharacterizationpluritest.microarray_url }}" target="_blank">{{ cellline.celllinecharacterizationpluritest.microarray_url }}</a>
    {% endif %}
  </td>
</tr>
{% endif %}

{% endif %}
