<tr><th colspan="2" class="title" id="genotyping"><h2>Genotyping</h2></th></tr>

    {% include 'catalog/__cellline_data_karyotyping__.html' %}

    {% if cellline.genome_analysis.all or cellline.current_status.status == 'at_ecacc' %}
    <tr><th class="sub-title"><h3>Genotyping</h3></th><th></th></tr>

    {% if cellline.genome_analysis.all %}
    <tr>
        <td class="label">Genome-wide genotyping or functional data:</td>
        <td>
            {% for analysis in cellline.genome_analysis.all %}
              <p>{{ analysis.analysis_method }}
              {% if analysis.link %}<br/><a href="{{ analysis.link }}" target="_blank">{{ analysis.link }}</a>{% endif %}

              {% if analysis.genome_analysis_files.all %}
              {% for file in analysis.genome_analysis_files.all %}
                <br><a href="{{ file.vcf_file.url }}" target="_blank">Data file</a>{% if file.vcf_file_description %} - {{ file.vcf_file_description }}{% endif %}
              {% endfor %}
              {% endif %}
              </p>
            {% endfor %}
        </td>
    </tr>
    {% endif %}

    {% if cellline.current_status.status == 'at_ecacc' %}
    <tr>
        <td class="label">STR/Fingerprinting:</td>
        <td>A 16 allele profile has been recorded and data is available upon request, after cell line purchase.</td>
    </tr>
    {% endif %}

    {% endif %}
