{% if cellline.derived_from or subclones or relatives or same_donor_lines %}
<tr><th colspan="2" class="title"><h2>Related lines</h2></th></tr>

{% if cellline.derived_from %}
<tr>
  <td class="label">Derived from:</td>
  <td>
    {% if cellline.derived_from.available_for_sale_at_ecacc == True %}
    <a href="{% url 'site:page' cellline.derived_from.name %}">{{ cellline.derived_from.name }}</a>
    {% else %}
    {{ cellline.derived_from.name }}
    {% endif %}
  </td>
</tr>
{% endif %}

{% if available_subclones_from_parent %}
<tr>
  <td class="label">All subclones of {{ cellline.derived_from.name }}:</td>
  <td>
    {% for line in available_subclones_from_parent %}
    <a href="{% url 'site:page' line.name %}">{{ line.name }}</a>{% if forloop.last %}{% else %}, {% endif %}
    {% endfor %}
  </td>
</tr>
{% endif %}

{% if subclones %}
<tr>
  <td class="label">Subclones:</td>
  <td>
    {% for line in subclones %}
    <a href="{% url 'site:page' line.name %}">{{ line.name }}</a>{% if forloop.last %}{% else %}, {% endif %}
    {% endfor %}
  </td>
</tr>
{% endif %}

{% if same_donor_lines %}
<tr>
  <td class="label">From the same donor:</td>
  <td>{% for line in same_donor_lines %}<a href="{% url 'site:page' line.name %}">{{ line.name }}</a>{% if forloop.last %}{% else %}, {% endif %}{% endfor %}</td>
</tr>
{% endif %}

{% if relatives %}
<tr>
  <td class="label">Lines from donor's relatives:</td>
  <td>
    {% for relative in relatives %}
    <p>{{ relative.relation }} <span class="comment">( disease status:
          {% if relative.related_donor.diseases.all %}
          {% for disease in relative.related_donor.diseases.all %}
          {% include 'catalog/__cellline_data_related_lines_disease__.html' %}
          {% if not forloop.last %}; {% endif %}{% endfor %}{% endif %})</span>
      <br/>{% for line in relative.related_donor.cellline_set.all %}
      {% if line.available_for_sale_at_ecacc == True %}
      <a href="{% url 'site:page' line.name %}">{{ line.name }}</a>{% if forloop.last %}{% else %}, {% endif %}
    {% endif %}
    {% endfor %}</p>
    {% endfor %}
  </td>
</tr>
{% endif %}
{% endif %}
