{% extends 'base.html' %}

{% block title %}Cell line {{ cellline.name }}{% endblock %}

{% block body-class %}template-with-sidebar{% endblock%}

{% block article %}

<div class="catalogue-data">

    <h1>{{ cellline.name }}{% if cellline.has_genetic_modification %} <small class="comment">Gene-edited iPSC line</small>{% endif %}</h1>

    {% if cellline.current_status.status == 'withdrawn' %}
    {{ cellline.current_status.comment }}
    {% else %}

      <div class="card general-info">
        <table class="data general-info">
            {% include 'catalog/__cellline_data_general__.html' %}
            {% include 'catalog/__cellline_data_related_lines__.html' %}
        </table>
      </div>

      {% if cellline.batches.all %}
      {% with cellline.get_latest_batch as batch %}
          {% if batch.images.all|length %}
          {% include 'catalog/__batch_data_images__.html' %}
          {% endif %}
      {% endwith %}
      {% endif %}

      <ul class="accordion-tabs-minimal">
          <li class="tab-header-and-content">
              <a href="#" class="tab-link is-active">Derivation</a>
              <div class="tab-content">
                  <table class="data">
                      {% include 'catalog/__cellline_data_derivation__.html' %}
                  </table>
              </div>
          </li>
          <li class="tab-header-and-content">
              <a href="#" class="tab-link">Culture conditions</a>
              <div class="tab-content">
                  <table class="data">
                      {% if cellline.batches.all %}
                      {% with cellline.get_latest_batch as batch %}
                          {% if batch.batchcultureconditions %}
                          {% include 'catalog/__batch_data_culture_conditions__.html' %}
                          {% else %}
                          {% include 'catalog/__cellline_data_culture_conditions__.html' %}
                          {% endif %}
                      {% endwith %}
                      {% else %}
                      {% include 'catalog/__cellline_data_culture_conditions__.html' %}
                      {% endif %}
                  </table>
              </div>
          </li>
          <li class="tab-header-and-content">
              <a href="#" class="tab-link">Characterization</a>
              <div class="tab-content">
                  <table class="data">
                      {% include 'catalog/__cellline_data_characterization__.html' %}

                      {% if cellline.current_status.status == 'at_ecacc' %}
                      <tr><th class="sub-title"><h3>Sterility</h3></th></tr>

                      <tr>
                          <td class="label">Inoculation for microbiological growth:</td>
                          <td>No Contaminants Detected</td>
                      </tr>
                      <tr>
                          <td class="label">Mycoplasma:</td>
                          <td>Not Detected</td>
                      </tr>
                      <tr>
                          <td class="label">Viability:</td>
                          <td>Viable post-cryopreservation</td>
                      </tr>
                      {% endif %}

                  </table>
              </div>
          </li>
          {% if cellline.karyotype or cellline.current_status.status == 'at_ecacc' or cellline.str_fingerprinting.all|length or cellline.genome_analysis %}
          <li class="tab-header-and-content">
              <a href="#" class="tab-link">Genotyping</a>
              <div class="tab-content">
                  <table class="data">
                      {% include 'catalog/__cellline_data_genotyping__.html' %}
                  </table>
              </div>
          </li>
          {% endif %}
          {% if cellline.diseases.all or cellline.genetic_modification_cellline_variants.all or cellline.genetic_modification_cellline_isogenic.all or cellline.genetic_modification_cellline_transgene_expression.all or cellline.genetic_modification_cellline_gene_knock_out.all or cellline.genetic_modification_cellline_disease_gene_knock_in.all %}
          <li class="tab-header-and-content">
              <a href="#" class="tab-link">Genetic modification</a>
              <div class="tab-content">
                  <table class="data">
                      {% include 'catalog/__cellline_data_genetic_modification__.html' %}
                  </table>
              </div>
          </li>
          {% endif %}
      </ul>

      {% if cellline.ecacc_id and cellline.available_for_sale %}
      <div class="buy">
          <a class="ecacc-link" href="{{ cellline.ecacc_url }}"  target="_blank">
              <button><i class="glyphicon glyphicon-shopping-cart "></i> Purchase cell line</button>
              <div class="comment">At European Collection of Authenticated Cell Cultures (ECACC)</div>
              {% if cellline.current_status.status == 'at_ecacc' or cellline.current_status.status == 'restricted_distribution' %}
              <div class="availability in-stock">In stock</div>
              {% else %}
              <div class="availability">Restocking</div>
              {% endif %}
          </a>

          {% if cellline.get_latest_clip %}
          <div class="clip-container">
            <div class="tooltip-item">
              <a class="clip" href="{{ cellline.get_latest_clip.clip_file.url }}" target="_blank"><i class="glyphicon glyphicon-file"></i> Cell Line Information Pack</a>
              <div class="tooltip">
                <div class="user-note">A Cell Line Information Pack (CLIP) is created to communicate cell line specific information relating to restrictions on use to a user accessing cell lines from EBiSC. A CLIP contains information about a cell line including any specific third party obligations (TPOs) relating to, for example, intellectual property (IP) or the donor consent which affect the use of the cell line.</div>
              </div>
            </div>
          </div>
          {% endif %}
      </div>
      {% endif %}

    {% endif %}

</div>

{% endblock %}
