{% extends 'base.html' %}

{% load i18n staticfiles %}

{% block title %}Cell Line Search{% endblock %}

{% block article %}

<h1>iPSC line catalogue</h1>

<div class="cell-line-filter">
    <div id="search"></div>
    <div id="filter"></div>
    <div id="total-count"></div>
</div>

<div id="celllines" class="cell-line-list"></div>

<div class="load-more">
    <button>Load more</button>
</div>

{% endblock %}

{% block extra-scripts %}
<script src="//cdnjs.cloudflare.com/ajax/libs/lodash.js/3.5.0/lodash.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/elasticsearch/3.1.3/elasticsearch.min.js"></script>
{% if debug %}
<script src="//cdnjs.cloudflare.com/ajax/libs/react/0.13.1/react-with-addons.js"></script>
{% else %}
<script src="//cdnjs.cloudflare.com/ajax/libs/react/0.13.1/react-with-addons.min.js"></script>
{% endif %}
<script src="{% static 'scripts/search.js' %}"></script>
{% endblock %}

{% block advertizing-tracking-codes %}
<script type='text/javascript'>
var axel = Math.random()+"";
var a = axel * 10000000000000;
document.write('<img
src="https://pubads.g.doubleclick.net/activity;xsp=194559;ord=1;num='+
a
+'?
<https://pubads.g.doubleclick.net/activity;xsp=194559;ord=1;num='+%20a%20+'?>"
width=1 height=1 border=0/>');
</script>
<noscript>
<img
src="https://pubads.g.doubleclick.net/activity;xsp=194559;ord=1;num=1?"
width=1 height=1 border=0/>
</noscript>
{% endblock %}
